<!-- Modal Profissional -->
<div
  #modalProfissional
  class="modal fade"
  id="modalEditarCriar"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="statusModalLabel"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Profissional</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="fecharModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario">
          <div class="card mb-4">
            <div class="card-header">
              <h5 class="mb-0">Informações Pessoais</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <label for="id" class="form-label">Cód.</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="id"
                    readonly
                    formControlName="id"
                  />
                </div>

                <div class="col-md-3">
                  <label for="nome" class="form-label"
                    >Nome <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="nome"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('nome')?.invalid &&
                        formulario.get('nome')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('nome')?.invalid &&
                      formulario.get('nome')?.touched
                    "
                    class="invalid-feedback"
                  >
                    O campo nome é obrigatório.
                  </div>
                </div>

                <div class="col-md-4">
                  <label for="sobrenome" class="form-label"
                    >Sobrenome <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="sobrenome"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('sobrenome')?.invalid &&
                        formulario.get('sobrenome')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('sobrenome')?.invalid &&
                      formulario.get('sobrenome')?.touched
                    "
                    class="invalid-feedback"
                  >
                    O campo sobrenome é obrigatório.
                  </div>
                </div>

                <div class="col-md-3">
                  <label for="cpf" class="form-label"
                    >CPF <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="cpf"
                    mask="000.000.000-00"
                    placeholder="000.000.000-00"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('cpf')?.invalid &&
                        formulario.get('cpf')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('cpf')?.invalid &&
                      formulario.get('cpf')?.touched
                    "
                    class="invalid-feedback"
                  >
                    O campo CPF é obrigatório.
                  </div>
                </div>

                <div class="col-md-4">
                  <label for="email" class="form-label"
                    >E-mail <span class="text-danger">*</span></label
                  >
                  <input
                    type="email"
                    class="form-control form-control-sm"
                    formControlName="email"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('email')?.invalid &&
                        formulario.get('email')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('email')?.invalid &&
                      formulario.get('email')?.touched
                    "
                    class="invalid-feedback"
                  >
                    O campo E-mail é obrigatório.
                  </div>
                </div>

                <div class="col-md-3">
                  <label for="sexo" class="form-label">Sexo</label>
                  <select
                    class="form-select form-select-sm"
                    formControlName="sexo"
                  >
                    <option value="null">Selecione...</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                    <option value="O">Outros</option>
                  </select>
                </div>

                <div class="col-md-3">
                  <label for="celular" class="form-label"
                    >Celular <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="celular"
                    mask="(00) 00000-0000"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('celular')?.invalid &&
                        formulario.get('celular')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('celular')?.invalid &&
                      formulario.get('celular')?.touched
                    "
                    class="invalid-feedback"
                  >
                    O campo Celular é obrigatório.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-3">
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="mb-0">Informações de Registro</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <label for="conselhoId" class="form-label">Conselho</label>
                    <select
                      class="form-select form-select-sm"
                      formControlName="conselhoId"
                    >
                      <option value="null">Selecione o Conselho</option>
                      @for (item of listaConselho; track item.id) {
                      <option value="{{ item.id }}">{{ item.nome }}</option>
                      }
                    </select>
                  </div>

                  <div class="col-md-3">
                    <label for="registroConselho" class="form-label"
                      >Registro Conselho</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="registroConselho"
                    />
                  </div>

                  <div class="col-md-2">
                    <label for="ufConselho" class="form-label"
                      >UF Conselho</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="ufConselho"
                      mask="AA"
                      appLetters
                    />
                  </div>

                  <div class="col-md-3">
                    <label for="profissaoId" class="form-label"
                      >Profissão <span class="text-danger">*</span></label
                    >

                    <select
                      class="form-select form-select-sm"
                      formControlName="profissaoId"
                      [ngClass]="{
                        'is-invalid':
                          formulario.get('profissaoId')?.invalid &&
                          formulario.get('profissaoId')?.touched
                      }"
                    >
                      <option value="null">Selecione...</option>
                      @for (item of listaProfissao; track item.id) {
                      <option value="{{ item.id }}">
                        {{ item.descricao }}
                      </option>
                      }
                    </select>
                    <div
                      *ngIf="
                        formulario.get('profissaoId')?.invalid &&
                        formulario.get('profissaoId')?.touched
                      "
                      class="invalid-feedback"
                    >
                      O campo profissão é obrigatório.
                    </div>
                  </div>

                  <div class="col-md-3">
                    <label for="cbo" class="form-label">CBO</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="cbo"
                    />
                  </div>

                  <div class="col-md-3">
                    <label for="rqe" class="form-label">RQE</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="rqe"
                    />
                  </div>

                  <div class="col-md-3">
                    <label for="cnes" class="form-label">CNES</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="cnes"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-4">
              <div class="card-header">
                <h5 class="mb-0">Informações de Pagamento</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <label for="tipoPagamento" class="form-label"
                      >Tipo de Pagamento</label
                    >
                    <select
                      class="form-select form-select-sm"
                      formControlName="tipoPagamento"
                    >
                      <option value="null">Selecione...</option>
                      <option value="Pix">Pix</option>
                      <option value="Boleto">Boleto</option>
                      <option value="Transferência">Transferência</option>
                    </select>
                  </div>

                  <div class="col-md-3">
                    <label for="chavePix" class="form-label">Chave Pix</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="chavePix"
                    />
                  </div>

                  <app-select-banco
                    class="col-md-3"
                    id="banco_comissao"
                    [formControlName]="'bancoNome'"
                    label="Banco"
                  ></app-select-banco>

                  <div class="col-md-2">
                    <label for="bancoAgencia" class="form-label">Agência</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="bancoAgencia"
                    />
                  </div>

                  <div class="col-md-2">
                    <label for="bancoConta" class="form-label">Conta</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="bancoConta"
                    />
                  </div>

                  <div class="col-md-3">
                    <label for="bancoTipoConta" class="form-label"
                      >Tipo de Conta</label
                    >
                    <select
                      class="form-select form-select-sm"
                      formControlName="bancoTipoConta"
                    >
                      <option value="null">Selecione...</option>
                      <option value="Corrente">Corrente</option>
                      <option value="Poupança">Poupança</option>
                    </select>
                  </div>

                  <div class="col-md-3">
                    <label for="bancoCpfTitular" class="form-label"
                      >CPF Titular</label
                    >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="bancoCpfTitular"
                      mask="000.000.000-00"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-4">
              <div class="card-header">
                <h5 class="mb-0">Informações de Comissão</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <label for="tipoComissao" class="form-label"
                      >Tipo de comissão</label
                    >
                    <select
                      class="form-select form-select-sm"
                      formControlName="tipoComissao"
                    >
                      <option value="null">Selecione...</option>
                      <option value="P">Porcentagem</option>
                      <option value="VF">Valor Fixo</option>
                    </select>
                  </div>

                  <div class="col-md-3">
                    <label for="valorComissao" class="form-label">Valor</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="valorComissao"
                      onlyNumbers
                      [currencyMask]="{
                        prefix: '',
                        thousands: '.',
                        decimal: ',',
                        precision: 2,
                        allowNegative: false
                      }"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-check form-switch mb-3">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="ehUsuario"
                  formControlName="ehUsuario"
                />
                <label class="form-check-label mt-1" for="ehUsuario">
                  Este profissional também será um usuário do sistema
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <app-button-action
          text="Confirmar"
          loadingText="Carregando..."
          [loading]="isLoading"
          variant="success"
          id="btn_salvar_editar"
          (clicked)="onSubmit()"
          [type]="'button'"
        ></app-button-action>
        <button
          type="button"
          class="btn btn-danger"
          id="btnCancelar"
          data-bs-dismiss="modal"
          (click)="fecharModal()"
          aria-label="Close"
        >
          <i class="bi bi-x"></i>Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
