<!-- Modal Profissional -->
<div
  #modalProfissional
  class="modal fade"
  id="modalEditarCriar"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="statusModalLabel"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Profissional</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario">
          <div class="row g-3">
            <!-- Informações Pessoais -->
            <div class="col-12">
              <h5>Informações Pessoais</h5>
            </div>

            <div class="col-md-2">
              <label for="id" class="form-label">Cód.</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="id"
                readonly
                formControlName="id"
              />
            </div>

            <div class="col-md-5">
              <label for="nome" class="form-label">Nome</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="nome"
                [ngClass]="{'is-invalid' : formulario.get('nome')?.invalid && formulario.get('nome')?.touched}"
              />
              <div *ngIf="formulario.get('nome')?.invalid && formulario.get('nome')?.touched" class="invalid-feedback">
                O campo nome é obrigatório.
              </div>
            </div>

            <div class="col-md-5">
              <label for="email" class="form-label">E-mail</label>
              <input
                type="email"
                class="form-control form-control-sm"
                formControlName="email"
                [ngClass]="{'is-invalid' : formulario.get('email')?.invalid && formulario.get('email')?.touched}"
                />
                <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="invalid-feedback">
                  O campo E-mail é obrigatório.
                </div>
            </div>

            <div class="col-md-3">
              <label for="cpf" class="form-label">CPF</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="cpf"
                mask="000.000.000-00"
                placeholder="000.000.000-00"
                [ngClass]="{'is-invalid' : formulario.get('cpf')?.invalid && formulario.get('cpf')?.touched}"
                />
                <div *ngIf="formulario.get('cpf')?.invalid && formulario.get('cpf')?.touched" class="invalid-feedback">
                  O campo CPF é obrigatório.
                </div>
            </div>

            <div class="col-md-3">
              <label for="sexo" class="form-label">Sexo</label>
              <select
                class="form-select form-select-sm"
                formControlName="sexo"
              >
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
                <option value="O">Outros</option>
              </select>
            </div>

      

            <div class="col-md-3">
              <label for="celular" class="form-label">Celular</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="celular"
                mask="(00) 00000-0000"
                [ngClass]="{'is-invalid' : formulario.get('celular')?.invalid && formulario.get('celular')?.touched}"
                />
                <div *ngIf="formulario.get('celular')?.invalid && formulario.get('celular')?.touched" class="invalid-feedback">
                  O campo Celular é obrigatório.
                </div>
            </div>

            <!-- Informações de Registro -->
            <div class="col-12">
              <h5>Informações de Registro</h5>
            </div>

            <div class="col-md-3">
              <label for="conselhoId" class="form-label">Conselho</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="conselhoId"
              />
            </div>

            <div class="col-md-3">
              <label for="registroConselho" class="form-label">Registro Conselho</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="registroConselho"
              />
            </div>

            <div class="col-md-2">
              <label for="ufConselho" class="form-label">UF Conselho</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="ufConselho"
              />
            </div>

            <div class="col-md-3">
              <label for="profissaoId" class="form-label">Profissão</label>
           
              <select class="form-select form-select-sm" formControlName="profissaoId">
                <option value="">Selecione...</option>
                @for (item of listaProfissao; track item.id) {
                  <option value="{{ item.id }}">{{ item.descricao }}</option>
                }
              </select>
            </div>

            <div class="col-md-3">
              <label for="cbo" class="form-label">CBO</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="cbo"
              />
            </div>

            <div class="col-md-3">
              <label for="rqe" class="form-label">RQE</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="rqe"
              />
            </div>

            <div class="col-md-3">
              <label for="cnes" class="form-label">CNES</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="cnes"
              />
            </div>

            <!-- Informações de Pagamento -->
            <div class="col-12">
              <h5>Informações de Pagamento</h5>
            </div>

            <div class="col-md-3">
              <label for="tipoPagamento" class="form-label">Tipo de Pagamento</label>
              <select
                class="form-select form-select-sm"
                formControlName="tipoPagamento"
              >
                <option value="Pix">Pix</option>
                <option value="Boleto">Boleto</option>
                <option value="Transferência">Transferência</option>
              </select>
            </div>

            <div class="col-md-3">
              <label for="chavePix" class="form-label">Chave Pix</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="chavePix"
              />
            </div>

            <div class="col-md-3">
              <label for="bancoNome" class="form-label">Banco</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="bancoNome"
              />
            </div>

            <div class="col-md-2">
              <label for="bancoAgencia" class="form-label">Agência</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="bancoAgencia"
              />
            </div>

            <div class="col-md-2">
              <label for="bancoConta" class="form-label">Conta</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="bancoConta"
              />
            </div>

            <div class="col-md-2">
              <label for="bancoTipoConta" class="form-label">Tipo de Conta</label>
              <select
                class="form-select form-select-sm"
                formControlName="bancoTipoConta"
              >
                <option value="Corrente">Corrente</option>
                <option value="Poupança">Poupança</option>
              </select>
            </div>

            <div class="col-md-3">
              <label for="bancoCpfTitular" class="form-label">CPF Titular</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="bancoCpfTitular"
                mask="000.000.000-00"
              />
            </div>

            <!-- Controle de Acesso -->
            <div class="col-12">
              <h5>Controle de Acesso</h5>
            </div>

            <div class="col-md-2">
              <label for="ehUsuario" class="form-label">Usuário?</label>
              <select
                class="form-select form-select-sm"
                formControlName="ehUsuario"
                (change)="campoParaUsuario()"
              >
                <option value="true">Sim</option>
                <option value="false">Não</option>
              </select>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="onSubmit()"
          class="btn btn-success"
          id="btn_salvar_editar"
        >
          <i class="bi bi-check"></i> Confirmar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          id="btnCancelar"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="fecharModal()"
        >
          <i class="bi bi-x"></i>Cancelar
        </button>
      </div>
    </div>
