  <!-- Modal -->
  <div #modalSala class="modal fade" id="modalSala" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="statusModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sala</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="fecharModal()"  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formulario">
            <div class="row g-3">
              <div class="col-md-2">
                  <label for="Id" class="form-label">Cód.</label>
                  <input type="text" class="form-control form-control-sm" id="Id" readonly formControlName="id" />
              </div>
              <div class="col-md-3">
                  <label for="nome" class="form-label">Nome</label>
                  <input type="text" required class="form-control form-control-sm required" formControlName="nome" 
                  [ngClass]="{'is-invalid': formulario.get('nome')?.invalid && formulario.get('nome')?.touched}"/>
                  <div *ngIf="formulario.get('nome')?.invalid && formulario.get('nome')?.touched" class="invalid-feedback">
                    O campo nome é obrigatório.
                  </div>
              </div>
              <div class="col-md-4">
                  <label for="local" class="form-label">Local</label>
                  <input type="text" required class="form-control form-control-sm" formControlName="local" 
                  />

              </div>
              <div class="col-md-2">
                  <label for="capacidade" class="form-label">Capacidade</label>
                  <input type="number" class="form-control form-control-sm" formControlName="capacidade" 
                  [ngClass]="{'is-invalid': formulario.get('capacidade')?.invalid && formulario.get('capacidade')?.touched}">
                  <div *ngIf="formulario.get('capacidade')?.invalid && formulario.get('capacidade')?.touched" class="invalid-feedback">
                    O campo capacidade é obrigatório.
                  </div>
              </div>
              <div class="col-md-3">
                <label for="status" class="form-label">Status</label>
                <select name="status" class="form-select form-select-sm" formControlName="status" id=""
                [ngClass]="{'is-invalid': formulario.get('status')?.invalid && formulario.get('status')?.touched}">
                    <option value="A">Ativo</option>
                    <option value="I">Inativo</option>
                </select>
                <div *ngIf="formulario.get('status')?.invalid && formulario.get('status')?.touched" class="invalid-feedback">
                  O campo status é obrigatório.
                </div>
            </div>
            <div class="col-md-3">
                <label for="tipo" class="form-label">Tipo</label>
                <select name="tipo" class="form-select form-select-sm" formControlName="tipo" id=""
                [ngClass]="{'is-invalid': formulario.get('tipo')?.invalid && formulario.get('tipo')?.touched}">
                    <option value="S">Atendimento</option>
                    <option value="C">Reunião</option> 
                </select>
                <div *ngIf="formulario.get('tipo')?.invalid && formulario.get('tipo')?.touched" class="invalid-feedback">
                  O campo tipo é obrigatório.
                </div>
            </div>
            <div class="col-md-4">
              <label for="horarioFincionamento" class="form-label">Horario de Funcionamento</label>
              <input type="text" required class="form-control form-control-sm" formControlName="horarioFincionamento" />
          </div>
            <div class="col-md-12">
                <label for="observacao" class="form-label">Observação</label>
                <textarea name="observacao"class='form-control form-control-sm' formControlName="observacao" cols="30" rows="10"
                [ngClass]="{'is-invalid': formulario.get('observacao')?.invalid && formulario.get('observacao')?.touched}"></textarea>
                <div *ngIf="formulario.get('observacao')?.invalid && formulario.get('observacao')?.touched" class="invalid-feedback">
                  O campo observação é obrigatório.
                </div>
            </div>
          </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button"  (click)="onSubmit()" class="btn btn-success" id="btn_salvar_editar"><i class="bi bi-check"></i> Confirmar</button>
            <button type="button" class="btn btn-danger" id="btnCancelar" data-bs-dismiss="modal" (click)="fecharModal()"  aria-label="Close" ><i class="bi bi-x"></i>Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  