  <!-- Modal -->
  <div #modalSala class="modal fade" id="modalSala" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="statusModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sala</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formulario">
            <div class="row g-3">
              <div class="col-md-2">
                  <label for="Id" class="form-label">Cód.</label>
                  <input type="text" class="form-control form-control-sm" id="Id" readonly formControlName="id" />
              </div>
              <div class="col-md-3">
                  <label for="nome" class="form-label">Nome</label>
                  <input type="text" required class="form-control form-control-sm required" formControlName="nome" />
              </div>
              <div class="col-md-4">
                  <label for="localizacao" class="form-label">Localização</label>
                  <input type="text" required class="form-control form-control-sm" formControlName="local" />
              </div>
              <div class="col-md-2">
                  <label for="capacidade" class="form-label">Capacidade</label>
                  <input type="number" class="form-control form-control-sm" formControlName="capacidade">
              </div>
              <div class="col-md-3">
                <label for="status" class="form-label">Status</label>
                <select name="status" class="form-select form-select-sm" formControlName="status" id="">
                    <option value="A">Ativo</option>
                    <option value="I">Inativo</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="tipo" class="form-label">Tipo</label>
                <select name="tipo" class="form-select form-select-sm" formControlName="tipo" id="">
                    <option value="S">Atendimento</option>
                    <option value="C">Reunião</option> 
                </select>
            </div>
            <div class="col-md-4">
              <label for="horarioFincionamento" class="form-label">Horario de Funcionamento</label>
              <input type="text" required class="form-control form-control-sm" formControlName="horarioFincionamento" />
          </div>
            <div class="col-md-12">
                <label for="observacao" class="form-label">Observação</label>
                <textarea name="observacao"class='form-control form-control-sm' formControlName="observacao" cols="30" rows="10"></textarea>
            </div>
          </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button"  (click)="onSubmit()" class="btn btn-success" id="btn_salvar_editar"><i class="bi bi-check"></i> Confirmar</button>
            <button type="button" class="btn btn-danger" id="btnCancelar" data-bs-dismiss="modal" aria-label="Close" (click)="fecharModal()"><i class="bi bi-x"></i>Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  