<app-label-nome
  [nomeTela]="'Sub Centro de Custo'"
  (adicionarClicked)="openModal('')"
></app-label-nome>


<app-tabela-listar-generica
  [titulo]="'Sub Centro de Custo'"
  [data]="listaSubCentroDeCusto"
  [columns]="colunaTabela"
  (edit)="openModal($event)"
  (delete)="Exluir($event)"
>
</app-tabela-listar-generica>

<app-modal-sub-centro-de-custo (dataAtualizado)="atualizarLista()">
    
</app-modal-sub-centro-de-custo>

<app-confirm-dialog
  #confirmDialog
  (onConfirm)="confirmDelete()"
  (onCancel)="cancelDelete()"
></app-confirm-dialog>