.card-hover {
  
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  background-color: #389D8D;
  color: #ffffff;
  border: 1px solid #389D8D;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon-box {
  background-color: #d1e7dd;
  color: #086f59;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.card-hover:hover .icon-box {
  background-color: #0c7d71;
  color: #ffffff;
}

.card-hover h6, .card-hover h3 {
  margin: 0;
  font-weight: bold;
}

.card-hover:hover h6, .card-hover:hover h3 {
  color: #ffffff;
}

.border-success {
  border-color: #0acf97 !important;
}
