<aside id="sidebar" class="expand">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="lni lni-grid-alt"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#">SmartClinic</a>
        </div>
    </div>
    <ul class="sidebar-nav" id="menuSideBar">
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#cadastro" aria-expanded="false" aria-controls="cadastro">
                <i class="lni lni-layout"></i>
                <span>Cadastro</span>
            </a>
            <ul id="cadastro" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item" mid="usuario">
                    <a class="sidebar-link" tabindex="-1">Usuário</a>
                </li>
                <li class="sidebar-item" mid="profissionals">
                    <a class="sidebar-link" tabindex="-1">Profissional</a>
                </li>
                <li class="sidebar-item" mid="status">
                    <a class="sidebar-link" tabindex="-1" routerLink="/status/listar">Status</a>
                </li>
                <li class="sidebar-item" mid="convenio">
                    <a class="sidebar-link" tabindex="-1">Convênio</a>
                </li>
                <li class="sidebar-item" mid="conselhos">
                    <a class="sidebar-link" tabindex="-1">Conselho</a>
                </li>
                <li class="sidebar-item" mid="convenio">
                    <a class="sidebar-link" tabindex="-1">Convênio</a>
                </li>
                <li class="sidebar-item" mid="sala">
                    <a class="sidebar-link" tabindex="-1">Sala</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                       data-bs-target="#financeiro" aria-expanded="false" aria-controls="financeiro">
                        Financeiro
                    </a>
                    <ul id="financeiro" class="sidebar-dropdown list-unstyled collapse">
                        <li class="sidebar-item" mid="TipoPagamento">
                            <a class="sidebar-link" tabindex="-1" routerLink="/tipoPagamento/listar">Tipo de pagamento</a>
                        </li>
                        <li class="sidebar-item" mid="FormaPagamento">
                            <a class="sidebar-link" tabindex="-1" routerLink="/formaPagamento/listar">Forma de pagamento</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="sidebar-item" mid="pacientes">
            <a class="sidebar-link" tabindex="-1">
                <i class="lni lni-user"></i>
                <span>Pacientes</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="lni lni-dropbox"></i>
                <span>Fornecedor</span>
            </a>
        </li>
        <li class="sidebar-item" mid="agenda">
            <a class="sidebar-link" tabindex="-1">
                <i class="lni lni-calendar"></i>
                <span>Agenda</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                <i class="lni lni-files"></i>
                <span>Relatórios</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Pacientes</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Contas a Pagar</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Contas a Pagar</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Contas a Receber</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Tipo de Pagamento</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>