<aside id="sidebar" [ngClass]="{'expand': isExpanded}" class="shadow">
  <div class="d-flex">
    <button class="toggle-btn" type="button" (click)="toggleSidebar()">
      <i class="lni lni-grid-alt"></i>
    </button>
    <div class="sidebar-logo">
      <a href="#">SmartClinic</a>
    </div>
  </div>
  
  <ul class="sidebar-nav" id="menuSideBar">
    <li class="sidebar-item">
      <a href="#" class="sidebar-link collapsed has-dropdown" (click)="toggleSubmenu('cadastro')" data-bs-toggle="collapse">
        <i class="lni lni-layout"></i>
        <span>Cadastro</span>
      </a>
      <ul [ngClass]="{'sidebar-dropdown': true, 'collapse': !isMenuOpen['cadastro'], 'show': isMenuOpen['cadastro']}" id="cadastro"  data-bs-toggle="collapse"
        data-bs-target="#cadastro">
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/usuario/listar', 'Usuário')">Usuário</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/profissional/listar', 'Profissional')">Profissional</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/fornecedor/listar', 'Fornecedor')">Fornecedor</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/status/listar', 'Status')">Status</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/convenio/listar', 'Convênio')">Convênio</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/conselho/listar', 'Conselho')">Conselho</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/sala/listar', 'Sala')">Sala</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/banco/listar', 'Banco')">Banco</a>
        </li>
      </ul>
    </li>

    <li class="sidebar-item">
      
      <a href="#" class="sidebar-link collapsed has-dropdown" (click)="toggleSubmenu('financeiro')" data-bs-toggle="collapse">
        <i class="bi bi-cash"></i>
        <span>Financeiro</span>
      </a>
      <ul [ngClass]="{'sidebar-dropdown': true, 'collapse': !isMenuOpen['financeiro'], 'show': isMenuOpen['financeiro']}" id="financeiro">
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/tipoPagamento/listar', 'Tipo de pagamento')">Tipo de pagamento</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/formaPagamento/listar', 'Forma de pagamento')">Forma de pagamento</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/centroDeCusto/listar', 'Centro de Custo')">Centro de Custo</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/SubcentroDeCusto/listar', 'Sub Centro de Custo')">Sub Centro de Custo</a>
        </li>
      </ul>
    </li>

    <li class="sidebar-item">
      <a class="sidebar-link" (click)="openTab('/pacientes/listar', 'Pacientes')">
        <i class="bi bi-person"></i>
        <span>Pacientes</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a class="sidebar-link" (click)="openTab('/agenda/listar', 'Agenda')">
        <i class="lni lni-calendar"></i>
        <span>Agenda</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a href="#" class="sidebar-link collapsed has-dropdown" (click)="toggleSubmenu('auth')" data-bs-toggle="collapse"> 
        <i class="lni lni-files"></i>
        <span>Relatórios</span>
      </a>
      <ul [ngClass]="{'sidebar-dropdown': true, 'collapse': !isMenuOpen['auth'], 'show': isMenuOpen['auth']}" id="auth">
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/relatorios/pacientes', 'Relatório de Pacientes')">Pacientes</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/relatorios/contasPagar', 'Contas a Pagar')">Contas a Pagar</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/relatorios/contasReceber', 'Contas a Receber')">Contas a Receber</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/relatorios/tipoPagamento', 'Tipo de Pagamento')">Tipo de Pagamento</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="sidebar-footer">
    <a href="#" class="sidebar-link">
      <i class="lni lni-exit"></i>
      <span>Logout</span>
    </a>
  </div>
</aside>
