<aside id="sidebar" [ngClass]="{ expand: isExpanded }" class="shadow">
  <div class="d-flex">
    <button class="toggle-btn" type="button" (click)="toggleSidebar()">
      <i class="lni lni-grid-alt"></i>
    </button>
    <div class="sidebar-logo">
      <a href="#">ClinicSmart</a>
      <div
        class="plano-badge text-center d-inline-flex ms-2"
        *ngIf="isExpanded"
      >
        <span
          class="badge"
          [ngClass]="{
            'bg-secondary': planoAtual === PlanoTipo.Basic,
            'bg-primary': planoAtual === PlanoTipo.Plus,
            'bg-gradient': planoAtual === PlanoTipo.Premium
          }"
        >
          <i class=""></i> {{ planoAtual }}
        </span>
      </div>
    </div>
  </div>

  <!-- 👇 NOVO: Badge do plano -->

  <ul class="sidebar-nav" id="menuSideBar">
    <!-- CADASTRO -->
    <li class="sidebar-item">
      <a
        href="#"
        class="sidebar-link collapsed has-dropdown"
        (click)="toggleSubmenu('cadastro')"
        data-bs-toggle="collapse"
      >
        <i class="lni lni-layout"></i>
        <span>Cadastro</span>
      </a>
      <ul
        [ngClass]="{
          'sidebar-dropdown': true,
          collapse: !isMenuOpen['cadastro'],
          show: isMenuOpen['cadastro']
        }"
        id="cadastro"
      >
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="
              openTab('/profissional/listar', 'Profissional', 'Profissional')
            "
          >
            Profissional
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="openTab('/profissao/listar', 'Profissão', 'Profissao')"
          >
            Profissão
          </a>
        </li>

        <!-- 👇 ITEM BLOQUEADO (exemplo) -->
        <li
          class="sidebar-item"
          [class.item-bloqueado]="!temAcesso('Fornecedor')"
        >
          <a
            class="sidebar-link"
            (click)="openTab('/fornecedor/listar', 'Fornecedor', 'Fornecedor')"
          >
            Fornecedor
            <!-- <i
              class="bi bi-lock-fill text-warning ms-2"
              *ngIf="!temAcesso('Fornecedor')"
            ></i> -->
          </a>
        </li>

        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="openTab('/status/listar', 'Status', 'Status')"
          >
            Status
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="openTab('/convenio/listar', 'Convênio')"
          >
            Convênio
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="openTab('/conselho/listar', 'Conselho')"
          >
            Conselho
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="openTab('/sala/listar', 'Sala', 'Sala')"
          >
            Sala
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="openTab('/exercicio/listar', 'Exercício')"
          >
            Exercício
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="openTab('/atividade/listar', 'Atividade')"
          >
            Atividade
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/banco/listar', 'Banco')">
            Banco
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/plano/listar', 'Planos')">
            Plano
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="openTab('/procedimento/listar', 'Procedimento')"
          >
            Procedimento
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="openTab('/pacote/listar', 'Pacote')">
            Pacote
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="openTab('/categoria/listar', 'Categoria')"
          >
            Categoria
          </a>
        </li>
      </ul>
    </li>

    <!-- FINANCEIRO -->
    <li
      class="sidebar-item"
      [class.menu-bloqueado]="!temAcesso('TipoPagamento')"
    >
      <a
        href="#"
        class="sidebar-link collapsed has-dropdown"
        (click)="toggleSubmenu('financeiro')"
        data-bs-toggle="collapse"
      >
        <i class="bi bi-cash"></i>
        <span>Financeiro</span>
        <!-- <i
          class="bi bi-lock-fill text-warning ms-2"
          *ngIf="!temAcesso('TipoPagamento')"
        ></i> -->
      </a>
      <ul
        [ngClass]="{
          'sidebar-dropdown': true,
          collapse: !isMenuOpen['financeiro'],
          show: isMenuOpen['financeiro']
        }"
        id="financeiro"
      >
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="
              openTab(
                '/tipoPagamento/listar',
                'Tipo de pagamento',
                'TipoPagamento'
              )
            "
          >
            Tipo de pagamento
            <!-- <i
              class="bi bi-lock-fill text-warning ms-2"
              *ngIf="!temAcesso('TipoPagamento')"
            ></i> -->
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="
              openTab(
                '/formaPagamento/listar',
                'Forma de pagamento',
                'FormaPagamento'
              )
            "
          >
            Forma de pagamento
            <!-- <i
              class="bi bi-lock-fill text-warning ms-2"
              *ngIf="!temAcesso('FormaPagamento')"
            ></i> -->
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="
              openTab('/centroDeCusto/listar', 'Centro de Custo', 'CentroCusto')
            "
          >
            Centro de Custo
            <!-- <i
              class="bi bi-lock-fill text-warning ms-2"
              *ngIf="!temAcesso('CentroCusto')"
            ></i> -->
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="
              openTab('/planoContas/listar', 'Plano de Contas', 'PlanoContas')
            "
          >
            Plano de Contas
            <!-- <i
              class="bi bi-lock-fill text-warning ms-2"
              *ngIf="!temAcesso('PlanoContas')"
            ></i> -->
          </a>
        </li>
      </ul>
    </li>

    <!-- PACIENTES (sempre liberado) -->
    <li class="sidebar-item">
      <a
        class="sidebar-link"
        (click)="openTab('/pacientes/listar', 'Pacientes', 'GestaoPaciente')"
      >
        <i class="bi bi-person"></i>
        <span>Pacientes</span>
      </a>
    </li>

    <!-- AGENDA (sempre liberado) -->
    <li class="sidebar-item">
      <a
        class="sidebar-link"
        (click)="openTab('/agenda/listar', 'Agenda', 'Agenda')"
      >
        <i class="lni lni-calendar"></i>
        <span>Agenda</span>
      </a>
    </li>

    <!-- CONTAS A PAGAR (bloqueado para Basic) -->
    <li class="sidebar-item" [class.menu-bloqueado]="!temAcesso('ContasPagar')">
      <a
        href="#"
        class="sidebar-link collapsed has-dropdown"
        (click)="toggleSubmenu('contasAPagar')"
        data-bs-toggle="collapse"
      >
        <i class="bi bi-cash"></i>
        <span>Contas a Pagar</span>
        <!-- <i
          class="bi bi-lock-fill text-warning ms-2"
          *ngIf="!temAcesso('ContasPagar')"
        ></i> -->
      </a>
      <ul
        [ngClass]="{
          'sidebar-dropdown': true,
          collapse: !isMenuOpen['contasAPagar'],
          show: isMenuOpen['contasAPagar']
        }"
        id="contasAPagar"
      >
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="
              openTab(
                '/DespesasFixa/ListarDespesa',
                'Despesas Fixas',
                'DespesasFixas'
              )
            "
          >
            Despesas Fixas
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="
              openTab(
                '/FinancPagar/listarAnalitico',
                'Pagar Analítico',
                'ContasPagar'
              )
            "
          >
            Analítico
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="
              openTab(
                '/FinancPagar/listarSintetico',
                'Pagar Sintético',
                'ContasPagar'
              )
            "
          >
            Sintético
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="openTab('/Comissoes/Listar', 'Comissões', 'Comissoes')"
          >
            Comissões
          </a>
        </li>
      </ul>
    </li>

    <!-- CONTAS A RECEBER (bloqueado para Basic) -->
    <li
      class="sidebar-item"
      [class.menu-bloqueado]="!temAcesso('ContasReceber')"
    >
      <a
        href="#"
        class="sidebar-link collapsed has-dropdown"
        (click)="toggleSubmenu('contasAReceber')"
        data-bs-toggle="collapse"
      >
        <i class="bi bi-cash"></i>
        <span>Contas a Receber</span>
        <!-- <i
          class="bi bi-lock-fill text-warning ms-2"
          *ngIf="!temAcesso('ContasReceber')"
        ></i> -->
      </a>
      <ul
        [ngClass]="{
          'sidebar-dropdown': true,
          collapse: !isMenuOpen['contasAReceber'],
          show: isMenuOpen['contasAReceber']
        }"
        id="contasAReceber"
      >
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="
              openTab(
                '/FinancReceber/listarAnalitico',
                'Receber Analítico',
                'ContasReceber'
              )
            "
          >
            Analítico
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="
              openTab(
                '/FinancReceber/listarSintetico',
                'Receber Sintético',
                'ContasReceber'
              )
            "
          >
            Sintético
          </a>
        </li>
      </ul>
    </li>

    <!-- LOG -->
    <li class="sidebar-item">
      <a class="sidebar-link" (click)="openTab('/log/listar', 'Log')">
        <i class="bi bi-person-lines-fill"></i>
        <span>Log</span>
      </a>
    </li>

    <!-- CONFIGURAÇÕES -->
    <li class="sidebar-item">
      <a
        href="#"
        class="sidebar-link collapsed has-dropdown"
        (click)="toggleSubmenu('configuracoes')"
        data-bs-toggle="collapse"
      >
        <i class="bi bi-gear"></i>
        <span>Configurações</span>
      </a>
      <ul
        [ngClass]="{
          'sidebar-dropdown': true,
          collapse: !isMenuOpen['configuracoes'],
          show: isMenuOpen['configuracoes']
        }"
        id="configuracoes"
      >
        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="
              openTab('/Configuracoes/alterarDadosUsuario', 'Dados do Usuário')
            "
          >
            <i class="bi bi-person-lines-fill"></i>
            <span>Dados do Usuário</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a
            class="sidebar-link"
            (click)="openTab('/Configuracoes/BuscarPorId', 'Sistema')"
          >
            <i class="bi bi-person-lines-fill"></i>
            <span>Sistema</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- SAIR -->
    <li class="sidebar-item">
      <a class="sidebar-link" (click)="logout()">
        <i class="lni lni-exit"></i>
        <span>Sair</span>
      </a>
    </li>
  </ul>
</aside>
