<app-label-nome
  [nomeTela]="'Centro de Custo'"
  (adicionarClicked)="openModal('')"
>
</app-label-nome>

<app-tabela-listar-generica
  [titulo]="'Centro de Custo'"
  [data]="listaCentroDeCusto"
  [columns]="colunaTabela"
  (edit)="openModal($event)"
  (delete)="Exluir($event)"
>
</app-tabela-listar-generica>

<app-modal-centro-de-custo (dataAtualizado)="atualizarLista()">
</app-modal-centro-de-custo>

<app-confirm-dialog
  #confirmDialog
  (onConfirm)="confirmDelete()"
  (onCancel)="cancelDelete()"
></app-confirm-dialog>
