
<!-- Modal -->
<div #modalCentroDeCusto class="modal fade" id="modalCentroDeCusto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="statusModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Centro De Custo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="fecharModal()"  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formulario">
            <div class="row g-3">
              <div class="col-md-2">
                <label for="id" class="form-label">Cód.</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="id"
                  readonly
                  formControlName="id"
                />
              </div>
              <div class="col-md-4">
                <label for="tipo" class="form-label">Tipo</label>
             
                <select 
                class="form-select form-select-sm" 
                formControlName="tipo"
                [ngClass]="{ 'is-invalid': formulario.get('tipo')?.invalid && formulario.get('tipo')?.touched }">
                  <option value="D">Despesa</option>
                  <option value="R">Receita</option>
                </select>
                <div *ngIf="formulario.get('tipo')?.invalid && formulario.get('tipo')?.touched" class="invalid-feedback">
                  O campo tipo é obrigatório.
                </div>
              </div>
              <div class="col-md-6">
                <label for="descricao" class="form-label">Descrição</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="descricao"
                  formControlName="descricao"
                  [ngClass]="{ 'is-invalid': formulario.get('descricao')?.invalid && formulario.get('descricao')?.touched }"
                />
                <div 
                *ngIf="formulario.get('descricao')?.invalid
                 && formulario.get('descricao')?.touched"
                  class="invalid-feedback">
                  O campo descrição é obrigatório.
                </div>
              </div>
              <div class="col-md-9"></div>
              <div class="col-md-3 col-12">
                <button (click)="adicionarSubCentroDeCusto()" type="button" class="btn btn-sm btn-primary">Adicionar Sub Centro de custo</button>
              </div>
            </div>

            <div formArrayName="subCentrosCusto" class="mt-2">
              <div
                *ngFor="let item of subCentrosCusto.controls; let i = index"
                [formGroupName]="i"
                class="border rounded p-3 mb-2"
              >
                <div class="row align-items-end">
                  <div class="col-md-2">
                    <label for="descricao">Cód</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="id"
                      readonly
                    />
                  </div>
                  <div class="col-md-8">
                    <label for="titulo">Nome</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="nome"
                    />
                  </div>
                  <div class="col-md-2">
                    <button
                    type="button"
                    class="btn btn-danger btn-sm mt-2"
                    (click)="removerSubCentroDeCusto(i)"
                  >
                    Remover
                  </button>
                  </div>
                </div>

             
              </div>
            </div>
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" (click)="onSubmit()" class="btn btn-success"><i class="bi bi-check"></i> Confirmar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="fecharModal()"  id="btnCancelar"><i class="bi bi-x"></i> Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  