<!-- Modal -->
<div
  #modalFornecedor
  class="modal fade"
  id="modalFornecedor"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="statusModalLabel"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Fornecedor</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="fecharModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario">
          <!-- Form para Pessoa Física -->
          <app-pessoa-fisica-form
            *ngIf="formulario.get('tipo')?.value === 'F'"
            [formulario]="formulario"
            (tipoAlterado)="onTipoChange()"
          ></app-pessoa-fisica-form>

          <!-- Form para Pessoa Jurídica -->
          <app-pessoa-juridica-form
            *ngIf="formulario.get('tipo')?.value === 'J'"
            [formulario]="formulario"
            (tipoAlterado)="onTipoChange()"
          ></app-pessoa-juridica-form>

          <div class="card mb-3">
            <div class="card-header">Informações de Contato</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <label for="email" class="form-label">E-mail</label>
                  <input
                    type="email"
                    class="form-control form-control-sm"
                    formControlName="email"
                  />
                </div>
                <div class="col-md-4">
                  <label for="celular" class="form-label">Celular</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="celular"
                    mask="(00) 0 0000-0000"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('celular')?.invalid &&
                        formulario.get('celular')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('celular')?.invalid &&
                      formulario.get('celular')?.touched
                    "
                    class="invalid-feedback"
                  >
                    <!-- O campo celular é obrigatório. -->
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="telefoneFixo" class="form-label">Telefone</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="telefoneFixo"
                    mask="(00) 0000-0000"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <label for="pais" class="form-label">País</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="pais"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('pais')?.invalid &&
                        formulario.get('pais')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('pais')?.invalid &&
                      formulario.get('pais')?.touched
                    "
                    class="invalid-feedback"
                  >
                    <!-- O campo pais é obrigatório. -->
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="cidade" class="form-label">Cidade</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="cidade"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('cidade')?.invalid &&
                        formulario.get('cidade')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('cidade')?.invalid &&
                      formulario.get('cidade')?.touched
                    "
                    class="invalid-feedback"
                  >
                    <!-- O campo cidade é obrigatório. -->
                  </div>
                </div>
                <div class="col-md-2">
                  <label for="uf" class="form-label">UF</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="uf"
                    appLetters
                    mask="AA"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('uf')?.invalid &&
                        formulario.get('uf')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('uf')?.invalid &&
                      formulario.get('uf')?.touched
                    "
                    class="invalid-feedback"
                  >
                    <!-- O campo UF é obrigatório. -->
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="bairro" class="form-label">Bairro</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="bairro"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('bairro')?.invalid &&
                        formulario.get('bairro')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('bairro')?.invalid &&
                      formulario.get('bairro')?.touched
                    "
                    class="invalid-feedback"
                  >
                    <!-- O campo bairro é obrigatório -->
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label for="logradouro" class="form-label">Logradouro</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="logradouro"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('logradouro')?.invalid &&
                        formulario.get('logradouro')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('logradouro')?.invalid &&
                      formulario.get('logradouro')?.touched
                    "
                    class="invalid-feedback"
                  >
                    <!-- O campo logradouro é obrigatório -->
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="nrLogradouro" class="form-label">Número</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="nrLogradouro"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('nrLogradouro')?.invalid &&
                        formulario.get('nrLogradouro')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('nrLogradouro')?.invalid &&
                      formulario.get('nrLogradouro')?.touched
                    "
                    class="invalid-feedback"
                  >
                    <!-- O campo número é obrigatório -->
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="cep" class="form-label">CEP</label>
                  <div class="input-group input-group-sm">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="cep"
                      id="cep"
                      mask="00000-000"
                      [ngClass]="{
                        'is-invalid':
                          formulario.get('cep')?.invalid &&
                          formulario.get('cep')?.touched
                      }"
                    />
                    <div
                      *ngIf="
                        formulario.get('cep')?.invalid &&
                        formulario.get('cep')?.touched
                      "
                      class="invalid-feedback"
                    >
                      <!-- O campo CEP é obrigatório -->
                    </div>
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="buscarCEP()"
                    >
                      <i class="bi bi-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">Informações de Pagamento</div>
            <div class="card-body">
              <div class="row">
                <app-select-banco
                  class="col-md-5"
                  id="banco"
                  [formControlName]="'banco'"
                  label="Banco"
                ></app-select-banco>
                <div class="col-md-3">
                  <label for="agencia" class="form-label">Agência</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="agencia"
                    mask="0000"
                  />
                </div>
                <div class="col-md-4">
                  <label for="conta" class="form-label">Conta</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="conta"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label for="tipoPIX" class="form-label">Tipo Pix</label>
                  <select
                    class="form-select form-select-sm"
                    formControlName="tipoPIX"
                  >
                    <option value="CPF">CPF</option>
                    <option value="CNPJ">CNPJ</option>
                    <option value="T">Telefone</option>
                    <option value="E">Email</option>
                    <option value="A">Chave Aleatória</option>
                  </select>
                </div>
                <div class="col-md-9">
                  <label for="chavePIX" class="form-label">Chave PIX</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="chavePIX"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- Campo Observação para ambos os tipos -->
          <div class="card mb-3">
            <div class="card-header">Informações Adicionais</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <label for="observacao" class="form-label">Observação</label>
                  <textarea
                    class="form-control form-control-sm"
                    formControlName="observacao"
                    rows="3"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <app-button-action
          text="Confirmar"
          loadingText="Carregando..."
          [loading]="isLoading"
          variant="success"
          id="btn_salvar_editar"
          (clicked)="onSubmit()"
          [type]="'button'"
        ></app-button-action>
        <button
          type="button"
          class="btn btn-danger"
          id="btnCancelar"
          data-bs-dismiss="modal"
          (click)="fecharModal()"
          aria-label="Close"
        >
          <i class="bi bi-x"></i>Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
