# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist/
/tmp/
/out-tsc/
/bazel-out/

# Node.js dependencies
/node_modules/
/npm-debug.log*
/yarn-error.log*

# IDEs and editors
.idea/
/.project
.classpath
.c9/
/.settings/
/*.launch
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Angular cache and environment files
/.angular/cache

# Miscellaneous
.sass-cache/
/connect.lock
/coverage/
/libpeerconnection.log
testem.log

# Typings
/typings

# System files
.DS_Store
Thumbs.db

# Temporary files and logs
*.log
*.tmp
*.bak
*.bak~
*.swp
*.temp

# History and backup files
.history/
