<form [formGroup]="formDadosUsuario" (ngSubmit)="alterarDadosUsuario()">
  <div class="row">
    <div class="col-md-4 mb-3">
      <label>Nome</label>
      <input type="text" class="form-control" formControlName="firstName" />
    </div>
    <div class="col-md-4 mb-3">
      <label>Sobrenome</label>
      <input type="text" class="form-control" formControlName="lastName" />
    </div>
    <div class="col-md-4 mb-3">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email" />
    </div>
  </div>

  <hr />
  <h5>Alterar Senha</h5>

  <div class="row">
    <div class="col-md-4 mb-3">
      <label>Senha Atual</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
    <div class="col-md-4 mb-3">
      <label>Nova Senha</label>
      <input type="password" class="form-control" formControlName="newPassword" />
    </div>
    <div class="col-md-4 mb-3">
      <label>Confirmar Nova Senha</label>
      <input type="password" class="form-control" formControlName="confirmNewPassword" />
    </div>
  </div>

  <button class="btn btn-success">Salvar Alterações</button>
</form>
