<section class="benefits-section py-5">
  <div class="container">
    <h2 class="text-center mb-4">Sua Clinica mais <strong>SMART</strong></h2>
    <div class="row text-center justify-content-center">
      <div class="col-md-3">
        <app-card-beneficios
          [icone]="'bi bi-speedometer2'"
          [subtitulo]="''"
          [descricao]="
            ' Cada dia com gestão ineficiente é um dia de potencial perdido.'"
          [tituloCard]="'Eficiência'"
        ></app-card-beneficios>
      </div>

      <div class="col-md-3">
        <app-card-beneficios
        [icone]="'bi bi-check-circle'"
        [subtitulo]="''"
        [descricao]="
          'O primeiro passo para o futuro da sua clínica é simples e rápido.'"
        [tituloCard]="'Simplicidade'"
      ></app-card-beneficios>
      </div>
      <div class="col-md-3">
        <app-card-beneficios
        [icone]="'bi bi-arrow-repeat'"
        [subtitulo]="''"
        [descricao]="
          ' Comece agora e veja a diferença na sua rotina.'"
        [tituloCard]="'Transformação'"
      ></app-card-beneficios>
    
      </div>
    </div>
  </div>
</section>
