  <!-- Modal -->
  <div #modalStatus class="modal fade" id="modalStatus" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="statusModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Status</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formulario">
            <div class="row g-3">
              <div class="col-md-2">
                  <label for="Id" class="form-label">Cód.</label>
                  <input type="text" class="form-control form-control-sm" id="Id" readonly formControlName="id" />
              </div>
              <div class="col-md-3">
                  <label for="Status" class="form-label">Status</label>
                  <input type="text" required class="form-control form-control-sm required" formControlName="status" 
                  [ngClass]="{'is-invalid': formulario.get('status')?.invalid && formulario.get('status')?.touched}"
                  />
                  <div *ngIf="formulario.get('status')?.invalid && formulario.get('status')?.touched" class="invalid-feedback">
                    O campo status é obrigatório.
                  </div>
              </div>
              <div class="col-md-4">
                  <label for="Legenda" class="form-label">Legenda</label>
                  <input type="text" required class="form-control form-control-sm" formControlName="legenda"
                  [ngClass]="{'is-invalid': formulario.get('legenda')?.invalid && formulario.get('legenda')?.touched}" />
                  <div *ngIf="formulario.get('legenda')?.invalid && formulario.get('legenda')?.touched" class="invalid-feedback">
                    O campo legenda é obrigatório.
                  </div>
              </div>
              <div class="col-md-3">
                  <label for="Cor" class="form-label">Cor</label>
                  <input type="color" class="form-control form-control-sm" formControlName="cor"
                  [ngClass]="{'is-invalid': formulario.get('cor')?.invalid && formulario.get('cor')?.touched}">
                  <div *ngIf="formulario.get('cor')?.invalid && formulario.get('cor')?.touched" class="invalid-feedback">
                    O campo cor é obrigatório.
                  </div>
              </div>
          </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button"  (click)="onSubmit()" class="btn btn-success" id="btn_salvar_editar"><i class="bi bi-check"></i> Confirmar</button>
            <button type="button" class="btn btn-danger" id="btnCancelar" data-bs-dismiss="modal" aria-label="Close" (click)="fecharModal()"><i class="bi bi-x"></i>Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  