<div class="row">
  <app-label-nome [nomeTela]="'Forma de Pagamento'" (adicionarClicked)="openModal('')"></app-label-nome>
</div>

<app-tabela-listar-generica
[titulo]="'Forma de Pagamento'"
[data]="formaPagamentoLista"
[columns]="colunaTabela"
(edit)="openModal($event)"
(delete)="ExcluirStatus($event)"
>

</app-tabela-listar-generica>

<app-modal-forma-pagamento (formaPagamentoAtualizado)="atualizarLista()"> </app-modal-forma-pagamento>

<app-confirm-dialog
  #confirmDialog
  (onConfirm)="confirmDelete()"
  (onCancel)="cancelDelete()"
></app-confirm-dialog>
