.card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  
  .card-body ul {
    list-style: none;
    padding: 0;
  }
  
  .badge {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
  
  
  .border-success-preco{
      border-radius: 1rem;
      border-color: #0acf97 !important;
  }

  .titulo-pequeno{
    color : #6C757D;
    font-size: 1.2rem;
  }

  .descricao-grande{
    color: #418177;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .descricao-medio{
    /* color: #389D8D; */
    font-size: 1rem;
  }