<!-- Modal Paciente -->
<div
  #modalPacienteDetalhado
  class="modal fade"
  id="modalPacienteDetalhado"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="statusModalLabel"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Gerenciamento do Paciente
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container my-4">
          <!-- Nav Tabs -->
          <ul class="nav nav-tabs" id="patientTabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="info-tab"
                data-bs-toggle="tab"
                data-bs-target="#info"
                type="button"
                role="tab"
                aria-controls="info"
                aria-selected="true"
              >
                Informações do Paciente
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="finance-tab"
                data-bs-toggle="tab"
                data-bs-target="#finance"
                type="button"
                role="tab"
                aria-controls="finance"
                aria-selected="false"
              >
                Financeiro
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="appointments-tab"
                data-bs-toggle="tab"
                data-bs-target="#appointments"
                type="button"
                role="tab"
                aria-controls="appointments"
                aria-selected="false"
              >
                Atendimentos
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="plans-tab"
                data-bs-toggle="tab"
                data-bs-target="#plans"
                type="button"
                role="tab"
                aria-controls="plans"
                aria-selected="false"
              >
                Planos
              </button>
            </li>
          </ul>

          <!-- Tab Content -->
          <div class="tab-content mt-3" id="patientTabsContent">
            <!-- Informações do Paciente -->
            <div
              class="tab-pane fade show active"
              id="info"
              role="tabpanel"
              aria-labelledby="info-tab"
            >
              <form>
                <div class="row justify-content-space-between">
                  <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-success-preco">
                      <div class="card-body">
                        <p class="titulo-pequeno">Paciênte</p>
                        <h3 class="descricao-grande">
                          {{Paciente.nome}}
                        </h3>
                        <p>Idade 29 anos</p>
                        <p><i class="bi bi-whatsapp"></i> {{Paciente.celular}}</p>
                        <p>
                          <i class="bi bi-envelope"></i> 
                          {{Paciente.email}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <!--vai virar um componente-->
                    <div class="card h-100 shadow-sm border-success-preco">
                      <div class="card-body">
                        <p class="titulo-pequeno">Histórico</p>
                        <!--Vai virar um component, esse quadrado com as informaç~oes de numero e texto-->
                        <div class="row">
                          <div class="col-6">
                            <p class="descricao-grande">{{Paciente.agendamentos ? Paciente.agendamentos.length : 0}}</p>
                            <p class="descricao-medio">Agendamentos</p>
                            <hr />
                          </div>
                          <div class="col-6">
                            <p class="descricao-grande">{{quantidadeAulasFeitas()}}</p>
                            <p class="descricao-medio">Cancelamentos</p>
                            <hr />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <p class="descricao-grande">{{Paciente.plano ? Paciente.plano.descricao: 'Sem plano'}}</p>
                            <p class="descricao-medio">
                              @switch (Paciente.plano?.tipoMes) {
                                @case ('m') {
                                  Plano Mensal
                                }
                                @case ('s') {
                                  Plano Semestral
                                }
                                @case ('a') {
                                  Plano Anual
                                }
                                @default {
                                 
                                }
                              }
                            </p>
                            <hr />
                          </div>
                          <div class="col-6">
                            <p class="descricao-grande">{{Paciente.convenio ?  Paciente.convenio?.nome : 'Sem convenio'}}</p>
                            <p class="descricao-medio">{{Paciente.convenio?.telefone}}</p>
                            <hr />
                          </div>
                        </div>
                        <div>
                          <p class="descricao-grande">
                            {{calcularValorTotalReceita() | currencyPtBr}}
                          </p>
                          <p class="descricao-medio">em receita</p>
                          <hr />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-success-preco">
                      <div class="card-body">
                        <p class="titulo-pequeno">Observação</p>
                        <p class="descricao-medio">
                         {{Paciente.breveDiagnostico ? Paciente.breveDiagnostico : 'Sem observação'}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <!-- Histórico Financeiro -->
            <div
              class="tab-pane fade"
              id="finance"
              role="tabpanel"
              aria-labelledby="finance-tab"
            >
              <h5>Histórico Financeiro</h5>
              <!-- Aqui vai o conteúdo da aba de financeiro -->
              <table border="1" class="table table-striped table-responsive">
            
                <tbody>
                  <!-- Percorrendo os itens financeiros -->
                  <tr *ngFor="let item of Paciente.financReceber">
                    <td colspan="3">
                      <!-- Subtabela para itens filhos -->
                      <table border="1" class="table table-striped">
                        <thead>
                          <tr>
                            <th>Data</th>
                            <th>Valor</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let subItem of item.subFinancReceber">
                            <td>{{ subItem.dataPagamento | datePtBr }}</td>
                            <td>{{ subItem.valor | currencyPtBr }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
                                  
            </div>

            <!-- Atendimentos -->
            <div
              class="tab-pane fade"
              id="appointments"
              role="tabpanel"
              aria-labelledby="appointments-tab"
            >
              <h5>Histórico de Atendimentos</h5>
              <button class="btn btn-success mb-2" (click)="openDialog('')">
                <i class="bi bi-plus"></i> Evolução
              </button>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Evolução</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    @for (items of Paciente.evolucoes; track items.id) {
                      <td>{{items.data | datePtBr}}</td>
                      <td>{{items.descricao}}</td>
                      <td>  <button
                        class="btn btn-sm btn-primary"
                        (click)="openDialog(items)"
                      >
                        Ver Evolução
                      </button></td>
                    }
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Planos -->
            <div
              class="tab-pane fade"
              id="plans"
              role="tabpanel"
              aria-labelledby="plans-tab"
            >
              <h5>Planos do Paciente</h5>
              <button class="btn btn-success mb-2">
                <i class="bi bi-plus"></i> Renovar plano
              </button>
              <!-- Lista de planos cadastrados -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Descrição</th>
                    <th>Plano</th>
                    <th>Validade</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Exemplo de plano -->
                  <tr>
                    <td>{{Paciente.plano?.descricao}}</td>
                    @switch (Paciente.plano?.tipoMes) {
                      @case ('m') {
                        <td>Mensal</td>
                      }
                      @case ('s') {
                        <td>Semestral</td>
                      }
                      @case ('a') {
                        <td>Anual</td>
                      }
                    }
                    <td>{{Paciente.plano?.dataFim?.getDate()}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Modal para Novo Atendimento -->
        <div
          class="modal fade"
          id="addAppointmentModal"
          tabindex="-12"
          aria-labelledby="addAppointmentModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addAppointmentModalLabel">
                  Nova Evolução
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="appointmentDate" class="form-label">Data</label>
                    <input
                      type="date"
                      class="form-control"
                      id="appointmentDate"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="appointmentDescription" class="form-label"
                      >Descrição</label
                    >
                    <textarea
                      class="form-control"
                      id="appointmentDescription"
                      rows="3"
                    ></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
                <button type="button" class="btn btn-primary">Salvar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-end">
        <button type="button" (click)="onSubmit()" class="btn btn-success">
          <i class="bi bi-check"></i> Confirmar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="fecharModal()"
        >
          <i class="bi bi-x"></i> Cancelar
        </button>
      </div>
    </div>
  </div>
  <!-- Modal para Evolução do Atendimento -->
  <dialog id="dialog_teste">
    <form [formGroup]="formEvolucao">
      <div class="">
        <div class="modal-header">
          <h5 class="modal-title" id="addProgressModalLabel">
            Evolução - Nome do Paciente
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="closeDialog()"
          ></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
              <div class="row mb-2 align-items-end">
                <div class="col-2">
                  <label for="progressDescription" class="form-label"
                  >Cód</label
                >
                <input type="text" class="form-control form-control-sm" readonly formControlName="id">
                </div>
                
                <div class="col-md-4 col-12">
                  <label for="progressDescription" class="form-label">Profissional</label>
                  <select name="" id="" class="form-select form-select-sm" id="" formControlName="profissionalId">
                    <option value="">Selecione...</option>
                    @for (item of listaProfissional; track item.id) {
                    <option value="{{ item.id }}">{{ item.nome }}</option>
                    }
                  </select>
                </div>
                <div class="col-md-2 col-12">
                  <label for="progressDescription" class="form-label">Data</label>
                  <input type="date" class="form-control form-control-sm" formControlName="data">
                </div>
                <div class="col-md-2 col-12">
                  <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  (click)="adicionarExercicio()"
                >
                  <i class="bi bi-plus"></i> Exercicios
                </button>
                </div>
                <div class="col-md-2 col-12">
                  <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  (click)="adicionarAtividade()"
                >
                <i class="bi bi-plus"></i> Atividade
                </button>
                </div>
              
                <!-- FormArray para os itens -->
                <div formArrayName="exercicio" class="mt-2">
                    <div
                      *ngFor="let item of exercicios.controls; let i = index"
                      [formGroupName]="i"
                      class="border rounded p-3 mb-2"
                    >
                      <h3 class="titulo-pequeno">Exercício {{ i + 1 }}</h3>
                      <div class="row">
                        <div class="col-md-4">
                          <label for="titulo">Exercício</label>
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            formControlName="titulo"
                          />
                        </div>
                        <div class="col-md-4">
                          <label for="descricao">Descrição</label>
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            formControlName="descricao"
                          />
                        </div>
                        <div class="col-md-4">
                          <label for="tempo">Tempo</label>
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            formControlName="tempo"
                          />
                        </div>
                        <div class="col-md-4">
                          <label for="tempo">Repetições</label>
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            formControlName="repeticoes"
                          />
                        </div>
                        <div class="col-md-4">
                          <label for="tempo">Séries</label>
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            formControlName="series"
                          />
                        </div>
                      </div>
             
                      <button
                        type="button"
                        class="btn btn-danger btn-sm mt-2"
                        (click)="removerExercicio(i)"
                      >
                        Remover
                      </button>
                    </div>
                  </div>

                  <div formArrayName="atividade" class="mt-2">
                    <div
                      *ngFor="let item of atividades.controls; let i = index"
                      [formGroupName]="i"
                      class="border rounded p-3 mb-2 "
                    >
                    <h3 class="titulo-pequeno">Atividade {{ i + 1 }}</h3>
                      <div class="row">
                        <div class="col-md-4">
                          <label for="titulo">Atividade</label>
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            formControlName="titulo"
                          />
                        </div>
                        <div class="col-md-4">
                          <label for="descricao">Descrição</label>
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            formControlName="descricao"
                          />
                        </div>
                        <div class="col-md-4">
                          <label for="tempo">Tempo</label>
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            formControlName="tempo"
                          />
                        </div>
                      </div>
             
                      <button
                        type="button"
                        class="btn btn-danger btn-sm mt-2"
                        (click)="removerAtividade(i)"
                      >
                        Remover
                      </button>
                    </div>
                  </div>
                <div class="col-12">
                  <label for="progressDescription" class="form-label">Descrição</label>
                  <textarea cols="30" rows="10" class="form-control form-control-sm" formControlName="descricao"></textarea>
                </div>
              </div>
              
            </div>
        </div>
        <div class="modal-footer justify-content-end">
          <button type="button" (click)="salvarEvolucao()" class="btn btn-success">
            <i class="bi bi-check"></i> Confirmar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="closeDialog()"
          >
            <i class="bi bi-x"></i> Cancelar
          </button>
        </div>
      </div>
    </form>
  </dialog>
</div>



