.card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  
  .card-body ul {
    list-style: none;
    padding: 0;
  }
  
  .badge {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
  
  
  .border-success-preco{
      border-radius: 1rem;
      border-color: #0acf97 !important;
  }

  .titulo-pequeno{
    color : #6C757D;
    font-size: 1.2rem;
  }

  .descricao-grande{
    color: #418177;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .descricao-medio{
    /* color: #389D8D; */
    font-size: 1rem;
  }

  dialog {
    border: none; /* Remove a borda padrão do elemento <dialog> */
    border-radius: 8px; /* Adiciona o arredondamento */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destaque */
    overflow: hidden; /* Garante que o conteúdo respeite o arredondamento */
    width: 50%;
    margin: 3rem auto;
  }
  
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo preta com opacidade 0.5 */
    backdrop-filter: blur(2px); /* Aplica o filtro de sombra para melhorar a aparencia */
  }  