<!-- Hero Section -->
<section class="hero-section text-center py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-start">
        <h1 class="display-4">A gestão da sua clínica em um só lugar.</h1>
        <h4>Cresça de forma inteligente!</h4>
        <p class="lead">
          Otimize todos os processos do seu consultório com uma plataforma
          completa e intuitiva, desenvolvida para
          <strong
            >fidelizar pacientes, automatizar tarefas administrativas e
            gerenciar suas finanças com precisão.</strong
          > Acesse de qualquer dispositivo e tenha controle total, praticidade
          e segurança para fazer seu negócio crescer!
        </p>
        <a href="#" class="btn btn-success btn-lg me-2">Assinar agora</a>
        <a href="#" class="btn btn-primary btn-lg">Teste gratuitamente por 7 dias</a>
      </div>
      <div class="col-md-6">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnHxb_w-aOXtgzgKp8jNhPPpGymwDSLUaeeA&s"
          alt="Hero Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
