<!-- Hero Section -->
<section class="text-center py-5 hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-start">
        <h1 class="display-4 fw-bold">Libere seu Tempo, Potencialize sua Clínica</h1>
        <h4 class="lead">Cresça de forma inteligente!</h4>
        <p class="lead">
          Com a SMART CLINIC, transforme a gestão da sua clínica. Menos burocracia, mais resultados.
        </p>
        <a href="#" class="btn btn-success btn-lg me-2">Assinar agora</a>
        <a href="#" class="btn btn-primary btn-lg">Teste gratuitamente por 7 dias</a>
      </div>
      <div class="col-md-6">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnHxb_w-aOXtgzgKp8jNhPPpGymwDSLUaeeA&s"
          alt="Hero Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
