<div class="row">
  <app-label-nome [nomeTela]="'Fornecedores'"></app-label-nome>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-sm-5">
            <a
              href="javascript:void(0);"
              (click)="openModal('')"
              class="btn btn-danger mb-2"
              ><i class="bi bi-plus me-2"></i>Fornecedor</a
            >
          </div>
          <div class="col-sm-7">
            <div class="text-sm-end">
              <button type="button" class="btn btn-success mb-2 me-1">
                <i class="bi bi-gear"></i>
              </button>
              <button type="button" class="btn btn-light mb-2 me-1">
                Import
              </button>
              <button type="button" class="btn btn-light mb-2">Export</button>
            </div>
          </div>
          <!-- end col-->
        </div>

        <div class="row">
          <div class="col-12">
            <table class="table table-striped table-centered mb-0">
              <thead>
                <tr>
                  <th>Cód.</th>
                  <th>Nome/Fantasia</th>
                  <th>Cpf/Cnpj</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @for (fornecedor of fornecedors; track $index) {
                <tr>
                  <td>
                    {{ fornecedor.id }}
                  </td>
                  <td>
                    {{ fornecedor.fantasia }}
                  </td>
                  <td>
                    {{
                      fornecedor.tipo == "J" ? fornecedor.cnpj : fornecedor.cpf
                    }}
                  </td>
                  <td class="text-end">
                    <a
                      href="javascript: void(0);"
                      (click)="openModal(fornecedor)"
                      class="action-icon"
                    >
                      <i class="bi bi-pencil text-success"></i
                    ></a>
                    <a
                      href="javascript: void(0);"
                      (click)="promptDelete(fornecedor.id ?? '')"
                      class="action-icon"
                    >
                      <i class="bi bi-trash3 text-danger"></i
                    ></a>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-fornecedor
  #modalFornecedor
  (fornecedorAtualizado)="atualizarLista()"
></app-modal-fornecedor>

<app-confirm-dialog
  #confirmDialog
  (onConfirm)="confirmDelete()"
  (onCancel)="cancelDelete()"
></app-confirm-dialog>
