<app-label-nome
  [nomeTela]="'Despesas Fixas'"
  (adicionarClicked)="openModal('')"
></app-label-nome>

<div class="card mb-3">
  <div
    class="card-header bg-light d-flex justify-content-between align-items-center"
    (click)="toggleFiltros()"
    style="cursor: pointer"
  >
    <h6 class="mb-0"><i class="bi bi-funnel"></i> Filtros de Pesquisa</h6>
    <button class="btn btn-sm btn-link text-dark p-0">
      <i
        class="bi"
        [ngClass]="mostrarFiltros ? 'bi-chevron-up' : 'bi-chevron-down'"
      ></i>
    </button>
  </div>
  <div class="card-body py-3" [ngClass]="{ 'd-none': !mostrarFiltros }">
    <div class="row mt-3">
      <div class="col-md-12 text-end">
        <button
          type="button"
          class="btn btn-sm btn-primary me-2"
          (click)="onSearch()"
        >
          <i class="bi bi-search me-1"></i> Pesquisar
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="limparFiltros()"
        >
          <i class="bi bi-x-circle me-1"></i> Limpar Filtros
        </button>
      </div>
    </div>

    <!--COLOCAR ABAIXO OS FILTROS-->
    <div class="row mb-2">
      <div class="col-md-2">
        <label for="" class="form-label small fw-bold">Cód.</label>
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Filtrar por código"
          [(ngModel)]="idFiltro"
        />
      </div>

      <div class="col-md-3">
        <label for="" class="form-label small fw-bold">Descrição</label>
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Filtrar por descrição"
          [(ngModel)]="descricaoFiltro"
        />
      </div>

      <div class="col-md-2">
        <label for="" class="form-label small fw-bold">Vencimento</label>
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Filtrar por vencimento"
          [(ngModel)]="diaVencimentoFiltro"
        />
      </div>

      <div class="col-md-2">
        <label for="" class="form-label small fw-bold">Centro de custo</label>
        <select
          name=""
          id=""
          class="form-select form-select-sm"
          [(ngModel)]="centroCustoFiltro"
        >
          <option value="">Selecione um centro de custo...</option>
          @for (item of centroCustoLista; track item.id) {
          <option value="{{ item.id }}">{{ item.descricao }}</option>
          }
        </select>
      </div>

      <div class="col-md-2">
        <label for="" class="form-label small fw-bold">Plano de contas</label>
        <select
          name=""
          id=""
          class="form-select form-select-sm"
          [(ngModel)]="planoContasFiltro"
        >
          <option value="">Selecione um centro de custo...</option>
          @for (item of planoDeContasLista; track item.id) {
          <option value="{{ item.id }}">{{ item.nome }}</option>
          }
        </select>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12">
    @if (lista.length > 0) {
    <div class="table-responsive">
      <table class="table table-striped table-centered mb-0">
        <thead>
          <tr>
            <th>Cód.</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data Inicial</th>
            <th>Dia Vencimento</th>
            <th class="text-end"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of lista"
            [ngStyle]="{ 'background-color': item.ativo ? 'green' : 'red' }"
          >
            <!-- Renderiza dinamicamente as células com base nas colunas -->
            <td>
              {{ item.id }}
            </td>
            <td>
              {{ item.descricao }}
            </td>
            <td>
              {{ item.valor | currencyPtBr }}
            </td>
            <td>
              {{ item.dataInicio | datePtBr }}
            </td>
            <td>
              {{ item.diaVencimento }}
            </td>
            <td class="text-end">
              <a
                href="javascript:void(0);"
                (click)="openModal(item)"
                class="action-icon btn-tooltip"
              >
                <i class="bi bi-pencil text-warning"></i>
                <span class="tooltip-text">Edição rapida</span>
              </a>
              <a
                href="javascript:void(0);"
                (click)="promptDelete(item)"
                class="action-icon btn-tooltip"
              >
                <i class="bi bi-trash3 text-danger"></i>
                <span class="tooltip-text">Excluir</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    } @else {
    <div class="alert alert-danger" role="alert">
      Nenhum registro encontrado
    </div>
    <img src="public\image\semRegistro.svg" alt="" />
    }
  </div>
</div>

<!-- Paginação Bootstrap -->
<div class="row justify-content-center">
  <div class="">
    <pagination
      [totalItems]="totalItems"
      [(ngModel)]="currentPage"
      [itemsPerPage]="pageSize"
      (pageChanged)="onPageChange($event.page)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>

<app-modal-despesa (dadosAtualizados)="atualizarDados()"></app-modal-despesa>

<app-confirm-dialog
  #confirmDialog
  (onConfirm)="confirmDelete()"
  (onCancel)="cancelDelete()"
></app-confirm-dialog>

<ngx-spinner
  type="square-jelly-box"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
>
  <p style="color: white">Carregando...</p>
</ngx-spinner>
