.span-status-green{
    border: 1px solid green;
    padding : 0.2rem;
    border-radius: 1rem;
    color: white;
    background-color: green;
}


.span-status-orange{
    border: 1px solid orange;
    padding : 0.2rem;
    border-radius: 1rem;
    color: white;
    background-color: orange;
}

.span-status-red{
    border: 1px solid red;
    padding : 0.2rem;
    border-radius: 1rem;
    color: white;
    background-color: red;
}