  <!-- Modal -->
  <div #modalFormaPagamento class="modal fade" id="modalFormaPagamento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="statusModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Forma de Pagamento</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formulario">
            <div class="row g-3">
              <div class="col-md-2">
                  <label for="id" class="form-label">Cód.</label>
                  <input type="text" class="form-control form-control-sm" id="Id" readonly formControlName="id" />
              </div>
              <div class="col-md-3">
                  <label for="parcelas" class="form-label">Parcelas</label>
                  <input type="text"
                   required class="form-control form-control-sm required"
                   formControlName="parcelas"
                   onlyNumbers
                   [ngClass]="{'is-invalid' : formulario.get('parcelas')?.invalid && formulario.get('parcelas')?.touched}" />
                  <div *ngIf="formulario.get('parcelas')?.invalid && formulario.get('parcelas')?.touched" class="invalid-feedback">
                    O campo parcelas é obrigatório
                  </div>
              </div>
              <div class="col-md-7">
                  <label for="descricao" class="form-label">Descricao</label>
                  <input type="text"
                  required class="form-control form-control-sm"
                  formControlName="descricao"
                  [ngClass]="{'is-invalid' : formulario.get('descricao')?.invalid && formulario.get('descricao')?.touched}" />
                
                  <div *ngIf="formulario.get('descricao')?.invalid && formulario.get('descricao')?.touched" class="invalid-feedback">
                    O campo descricao é obrigatório
                  </div>
                  
              </div>
          </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button"  (click)="onSubmit()" class="btn btn-success" id="btn_salvar_editar"><i class="bi bi-check"></i> Confirmar</button>
            <button type="button" class="btn btn-danger" id="btnCancelar" data-bs-dismiss="modal" aria-label="Close" (click)="fecharModal()"><i class="bi bi-x"></i>Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  