<div class="row">
  <app-label-nome [nomeTela]="'Sala'" (adicionarClicked)="openModal('')"></app-label-nome>
</div>

<app-tabela-listar-generica
  [titulo]="'Sala'"
  [data]="listaDeSalas"
  [columns]="colunaTabela"
  (edit)="openModal($event)"
  (delete)="ExcluirSala($event)"
>

</app-tabela-listar-generica>

<!-- listar.component.html -->
<app-modal-salas (statusAtualizado)="atualizarLista()"></app-modal-salas>

<app-confirm-dialog
  #confirmDialog
  (onConfirm)="confirmDelete()"
  (onCancel)="cancelDelete()"
></app-confirm-dialog>
