<app-label-nome
  [nomeTela]="'Sala'"
  (adicionarClicked)="openModal('')"
></app-label-nome>

<app-tabela-listar-generica
  [titulo]="'Sala'"
  [data]="listaDeSalas"
  [columns]="colunaTabela"
  (edit)="openModal($event)"
  (delete)="ExcluirSala($event)"
>
</app-tabela-listar-generica>

<!-- listar.component.html -->
<app-modal-salas (salaAtualizado)="atualizarLista()"></app-modal-salas>

<app-confirm-dialog
  #confirmDialog
  (onConfirm)="confirmDelete()"
  (onCancel)="cancelDelete()"
></app-confirm-dialog>
