<div class="row">
    <app-label-nome [nomeTela]="'Tipo de Pagamento'" (adicionarClicked)="openModal('')"></app-label-nome>
  </div>


  <app-tabela-listar-generica
    [columns]="colunaTabela"
    [titulo]="'Tipo de Pagamento'"
    [data]="tipoPagamentoLista"
    (edit)="openModal($event)"
    (delete)="ExcluirTipoPagamento($event)"
  >

  </app-tabela-listar-generica>

  <app-modal-tipo-pagamento (tipoDePagamentoAtualizado)="atualizarLista()"></app-modal-tipo-pagamento>

  <app-confirm-dialog
  #confirmDialog
  (onConfirm)="confirmDelete()"
  (onCancel)="cancelDelete()">
</app-confirm-dialog>