<!-- features.component.html -->
<section class="features-section py-5" style="background-color: #2c9d62">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2 class="display-6 text-white fw-bold mb-4">
          Automatize processos e ganhe tempo para focar no crescimento da sua
          clínica.
        </h2>

        <p class="text-white mb-4">
          Com o sistema ClinicSmart você automatiza tarefas e otimiza processos
          como a gestão de agendamentos, controle de pacientes e gestão
          financeira de forma integrada.
        </p>

        <div class="mt-4">
          <a
            routerLink="/cadastro"
            class="btn btn-light rounded-pill px-4 py-2 text-success"
          >
            Comece agora
          </a>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="dashboard-preview bg-white rounded-4 shadow p-3 ms-lg-4">
          <img
            src="assets/image/Clinic_Smart_Landing_Page_Dobra_02.jpg"
            class="img-fluid rounded"
            style="transform: scale(1.8); mix-blend-mode: multiply"
            alt="Dashboard preview"
          />
        </div>
      </div>
    </div>
  </div>
</section>
