<!-- Modal -->
<div
  #modalConvenio
  class="modal fade"
  id="modalConvenio"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="statusModalLabel"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Convênio</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal" (click)="fecharModal()" 
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario">
          <div class="row g-3">
            <div class="col-md-2">
              <label for="id" class="form-label">Cód.</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="Id"
                readonly
                formControlName="id"
              />
            </div>
            <div class="col-md-3">
              <label for="nome" class="form-label">Nome</label>
              <input
                type="text"
                required
                class="form-control form-control-sm required"
                formControlName="nome"
                [ngClass]="{'is-invalid' : formulario.get('nome')?.invalid && formulario.get('nome')?.touched}"
                >
                <div *ngIf="formulario.get('nome')?.invalid && formulario.get('nome')?.touched" class="invalid-feedback">
                  O campo nome é obrigatório.
                </div>
            </div>
            <div class="col-md-3">
              <label for="registroAvs" class="form-label">Registro Avs</label>
              <input
                type="text"
                required
                class="form-control form-control-sm"
                formControlName="registroAvs"
                [ngClass]="{'is-invalid' : formulario.get('registroAvs')?.invalid && formulario.get('registroAvs')?.touched}"
                >
                <div *ngIf="formulario.get('registroAvs')?.invalid && formulario.get('registroAvs')?.touched" class="invalid-feedback">
                  O campo registro é obrigatório.
                </div>
            </div>
            <div class="col-md-3">
              <label for="periodoCarencia" class="form-label"
                >Periodo Carência</label
              >
              <input
                type="text"
                required
                class="form-control form-control-sm"
                formControlName="periodoCarencia"
                [mask]="'00/00/0000'"
                placeholder="00/00/0000"
                [ngClass]="{'is-invalid' : formulario.get('periodoCarencia')?.invalid && formulario.get('periodoCarencia')?.touched}"
                >
                <div *ngIf="formulario.get('periodoCarencia')?.invalid && formulario.get('periodoCarencia')?.touched" class="invalid-feedback">
                  O campo periodo é obrigatório.
                </div>
            </div>
            <div class="col-md-3">
              <label for="telefone" class="form-label">Telefone</label>
              <input
                type="text"
                required
                class="form-control form-control-sm"
                formControlName="telefone"
                [mask]="'(00) 0000-0000'"
                [ngClass]="{'is-invalid' : formulario.get('telefone')?.invalid && formulario.get('telefone')?.touched}"
                >
                <div *ngIf="formulario.get('telefone')?.invalid && formulario.get('telefone')?.touched" class="invalid-feedback">
                  O campo telefone é obrigatório.
                </div>
            </div>
            <div class="col-md-5">
              <label for="email" class="form-label">E-mail</label>
              <input
                type="text"
                required
                class="form-control form-control-sm"
                formControlName="email"
                [ngClass]="{'is-invalid' : formulario.get('email')?.invalid && formulario.get('email')?.touched}"
                >
                <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="invalid-feedback">
                  O campo E-mail é obrigatório.
                </div>
            </div>
            <div class="col-md-3">
             
              <div class="form-check form-switch">
                <label class="form-check-label" for="ativo">Ativo</label>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="ativo"
                  formControlName="ativo"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="onSubmit()"
          class="btn btn-success"
          id="btn_salvar_editar"
        >
          <i class="bi bi-check"></i> Confirmar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          id="btnCancelar"
          data-bs-dismiss="modal" (click)="fecharModal()" 
          aria-label="Close"
          (click)="fecharModal()"
        >
          <i class="bi bi-x"></i>Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
