<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-sm-5">
            <a
              href="javascript:void(0);"
              (click)="onCreateNew()"
              class="btn btn-danger mb-2"
            >
              <i class="bi bi-plus me-2"></i>{{ titulo }}
            </a>
          </div>
          <div class="col-sm-7">
            <div class="text-sm-end">
              <ng-container *ngFor="let action of actions">
                <button
                  type="button"
                  class="btn {{ action.class }} mb-2 me-1"
                  (click)="onCustomAction(action.action)"
                >
                  <i [ngClass]="action.icon"></i> {{ action.label }}
                </button>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <app-tabela
              [data]="data"
              [columns]="columns"
              (edit)="onEdit($event)"
              (delete)="onDelete($event)"
            >
            </app-tabela>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
