<div class="row">
  <app-label-nome
    [nomeTela]="'Agendamento'"
    (adicionarClicked)="openModal('')"
  ></app-label-nome>
</div>

<div class="card mb-3">
  <div
    class="card-header bg-light d-flex justify-content-between align-items-center"
    (click)="toggleFiltros()"
    style="cursor: pointer"
  >
    <h6 class="mb-0"><i class="bi bi-funnel"></i> Filtros de Pesquisa</h6>
    <button class="btn btn-sm btn-link text-dark p-0">
      <i
        class="bi"
        [ngClass]="mostrarFiltros ? 'bi-chevron-up' : 'bi-chevron-down'"
      ></i>
    </button>
  </div>
  <div class="card-body py-3" [ngClass]="{ 'd-none': !mostrarFiltros }">
    <div class="row mt-3">
      <div class="col-md-12 text-end">
        <button
          type="button"
          class="btn btn-sm btn-primary me-2"
          (click)="onSearch()"
        >
          <i class="bi bi-search me-1"></i> Pesquisar
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="limparFiltros()"
        >
          <i class="bi bi-x-circle me-1"></i> Limpar Filtros
        </button>
      </div>
    </div>

    <!--COLOCAR ABAIXO OS FILTROS-->
    <div class="row mb-2 align-items-end">
      <div class="col-md-2">
        <label for="" class="form-label small fw-bold">Cód.</label>
        <input
          type="text"
          [(ngModel)]="idFiltro"
          placeholder="Filtrar por Cód"
          class="form-control form-control-sm"
        />
      </div>

      <div class="col-md-2">
        <label for="" class="form-label small fw-bold">Paciente</label>
        <!-- futuramente trocar para o mesmo que tem no financ, buscar pelo paciente -->
        <select
          class="form-select form-select-sm"
          [(ngModel)]="pacienteIdFiltro"
        >
          <option value="">Selecione...</option>
          @for (item of listaPaciente; track $index) {
          <option value="{{ item.id }}">{{ item.nome }}</option>
          }
        </select>
      </div>

      <div class="col-md-2">
        <label for="" class="form-label small fw-bold">Profissional</label>
        <select
          class="form-select form-select-sm"
          [(ngModel)]="profissionalIdFiltro"
        >
          <option value="">Selecione...</option>
          @for (item of listaProfissional; track $index) {
          <option value="{{ item.id }}">{{ item.nome }}</option>
          }
        </select>
      </div>

      <div class="col-md-2">
        <label for="" class="form-label small fw-bold">Status</label>
        <select class="form-select form-select-sm" [(ngModel)]="statusIdFiltro">
          <option value="">Selecione...</option>
          @for (item of listaStatus; track $index) {
          <option value="{{ item.id }}">{{ item.status }}</option>
          }
        </select>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-5">
            <div class="input-group input-group-sm">
              <span class="input-group-text">De</span>
              <input
                type="date"
                class="form-control form-control-sm"
                [(ngModel)]="dataFiltroInicio"
              />
            </div>
          </div>
          <div class="col-md-5">
            <div class="input-group input-group-sm">
              <span class="input-group-text">Até</span>
              <input
                type="date"
                class="form-control form-control-sm"
                [(ngModel)]="dataFiltroFim"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12">
    @if (lista.length > 0) {
    <div class="table-responsive">
      <table class="table table-striped table-centered mb-0">
        <thead>
          <tr>
            <th>Cód.</th>
            <th>Data</th>
            <th>Descrição</th>
            <th class="text-end"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lista">
            <!-- Renderiza dinamicamente as células com base nas colunas -->
            <td>
              {{ item.id }}
            </td>
            <td>
              {{ item.data | datePtBr }}
            </td>
            <td>
              {{ item.titulo }}
            </td>

            <td class="text-end">
              <a
                href="javascript:void(0);"
                (click)="openModal(item)"
                class="action-icon btn-tooltip"
              >
                <i class="bi bi-pencil text-warning"></i>
                <span class="tooltip-text">Edição rapida</span>
              </a>
              <a
                href="javascript:void(0);"
                (click)="promptDelete(item)"
                class="action-icon btn-tooltip"
              >
                <i class="bi bi-trash3 text-danger"></i>
                <span class="tooltip-text">Excluir</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    } @else {
    <div class="alert alert-danger" role="alert">
      Nenhum registro encontrado
    </div>
    <img src="public\image\semRegistro.svg" alt="" />
    }
  </div>
</div>

<div class="row justify-content-center">
  <div class="">
    <pagination
      [totalItems]="totalItems"
      [(ngModel)]="currentPage"
      [itemsPerPage]="pageSize"
      (pageChanged)="onPageChange($event.page)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>

<app-modal-agenda
  #modalAgenda
  (onSave)="handleAgendamentoSave()"
  (onAlter)="handleAgendamentoAlterar()"
></app-modal-agenda>

<app-confirm-dialog
  #confirmDialog
  (onConfirm)="confirmDelete()"
  (onCancel)="cancelDelete()"
>
</app-confirm-dialog>
