<form [formGroup]="formulario" (ngSubmit)="salvar()" novalidate>
  <ul class="nav nav-tabs" id="empresaTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="dados-tab"
        data-bs-toggle="tab"
        data-bs-target="#dados"
        type="button"
        role="tab"
      >
        Dados da Clínica
      </button>
    </li>
  </ul>

  <div class="tab-content pt-3" id="empresaTabsContent">
    <div class="tab-pane fade show active" id="dados" role="tabpanel">
      <div class="row g-3">
        <div class="col-md-4">
          <label class="form-label">Nome da Clínica</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="nome"
            required
          />
          <small
            class="text-danger"
            *ngIf="
              formulario.get('nome')?.touched &&
              formulario.get('nome')?.hasError('required')
            "
          >
            Nome é obrigatório.
          </small>
          <small
            class="text-danger"
            *ngIf="
              formulario.get('cnpjEmpresaMatriz')?.touched &&
              formulario.get('cnpjEmpresaMatriz')?.hasError('cnpjInvalido')
            "
          >
            CNPJ inválido.
          </small>
        </div>
        <div class="col-md-4">
          <label class="form-label">Razão Social</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="sobrenome"
          />
        </div>
        <div class="col-md-4">
          <label class="form-label">CNPJ</label>
          <input
            type="text"
            [mask]="'00.000.000/0000-00'"
            class="form-control form-control-sm"
            formControlName="cnpjEmpresaMatriz"
          />
          <small
            class="text-danger"
            *ngIf="
              formulario.get('cnpjEmpresaMatriz')?.touched &&
              formulario.get('cnpjEmpresaMatriz')?.hasError('required')
            "
          >
            CNPJ é obrigatório.
          </small>
        </div>

        <div class="col-md-3">
          <label class="form-label">Inscrição Estadual</label>
          <input
            type="text"
            class="form-control form-control-sm"
            maxlength="14"
            formControlName="inscricaoEstadual"
          />
        </div>
        <div class="col-md-3">
          <label class="form-label">Inscrição Municipal</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="inscricaoMunicipal"
          />
        </div>
        <div class="col-md-6">
          <label class="form-label">Endereço</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="endereco"
          />
        </div>
        <div class="col-md-3">
          <label class="form-label">CEP</label>
          <div class="input-group input-group-sm">
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="cep"
              id="cep"
              mask="00000-000"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="buscarCEP()"
            >
              <i class="bi bi-search"></i>
            </button>
          </div>
          <!-- <input
            type="text"
            class="form-control form-control-sm"
            [mask]="'00000-00'"
            formControlName="cep"
          /> -->
          <small
            class="text-danger"
            *ngIf="
              formulario.get('cep')?.touched &&
              formulario.get('cep')?.hasError('cepInvalido')
            "
          >
            CEP inválido. Use o formato 00000-000.
          </small>
        </div>
        <div class="col-md-3">
          <label class="form-label">Cidade</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="cidade"
          />
        </div>
        <div class="col-md-3">
          <label class="form-label">Estado</label>
          <input
            type="text"
            class="form-control form-control-sm"
            maxlength="2"
            formControlName="estado"
          />
        </div>

        <div class="col-md-3">
          <label class="form-label">Telefone Fixo</label>
          <input
            type="text"
            mask="(00) 0000-0000"
            class="form-control form-control-sm"
            formControlName="telefoneFixo"
          />
        </div>

        <div class="col-md-3">
          <label class="form-label">Celular</label>
          <input
            type="text"
            mask="(00) 0 0000-0000"
            class="form-control form-control-sm"
            formControlName="celular"
          />
          <div class="col-md-12 d-flex align-items-center">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="celularComWhatsApp"
                id="chkCelularWhats"
              />
              <label class="form-check-label" for="chkCelularWhats"
                >Esse número tem WhatsApp?</label
              >
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <label class="form-label">E-mail</label>
          <input
            type="email"
            class="form-control form-control-sm"
            formControlName="email"
          />
          <small
            class="text-danger"
            *ngIf="
              formulario.get('email')?.touched &&
              formulario.get('email')?.hasError('email')
            "
          >
            E-mail inválido.
          </small>
        </div>
        <div class="col-md-3">
          <label class="form-label">Site/Redes Sociais</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="siteOuRedeSocial"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex gap-2 mt-3">
    <button
      class="btn btn me-1 btn-success"
      type="submit"
      [disabled]="formulario.invalid || salvando"
    >
      <span
        class="spinner-border spinner-border-sm me-1"
        *ngIf="salvando"
        role="status"
        aria-hidden="true"
      ></span>
      <span *ngIf="!salvando" class="bi bi-check"></span>
      <span>{{ salvando ? "Salvando..." : "Salvar" }}</span>
    </button>
  </div>
</form>
