<!-- 
    <app-hero-lp></app-hero-lp>
    
    <app-dobra-cobranca></app-dobra-cobranca>
    <app-inform-agenda></app-inform-agenda>
    <app-precos></app-precos>
    <app-duvidas-faq></app-duvidas-faq>
    
-->

<app-header-lp></app-header-lp>
<app-hero></app-hero>
<app-segunda-dobra></app-segunda-dobra>
<app-beneficios-lp></app-beneficios-lp>
<app-terceira-dobra></app-terceira-dobra>
<app-inform-solucao></app-inform-solucao>
<app-pergunta-dor></app-pergunta-dor>
<app-quarta-dobra></app-quarta-dobra>
<app-quinta-dobra></app-quinta-dobra>
<app-sexta-dobra></app-sexta-dobra>
<app-price [id]="'Assinaturas'"></app-price>
<app-fac-dobra></app-fac-dobra>
