/*  
  
  .benefits-section {
    background-color: #f9f9f9;
  }
  
  .benefits-section .card {
    border: none;
    border-radius: 10px;
  }
  
  .benefits-section img {
    max-width: 50px;
  }
  
  strong {
    color: #27c7a3;
    font-weight: 700;
}

.bg-padrao-lp {
  background-color: #f9f9f9;
} */

/* Adicione isto ao seu CSS */

:root {
  --primary: #2c9d62;
  --primary-dark: #096042;
  --primary-light: #40bd7e;
  --background-light: #edfdf3;
  --background-lighter: #f8fcfa;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
  line-height: 1.6;
}

.text-success {
  color: var(--primary) !important;
}

.bg-success {
  background-color: var(--primary) !important;
}

.btn-success {
  background-color: var(--primary);
  border-color: var(--primary);

  &:hover,
  &:focus {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  }
}

.rounded-4 {
  border-radius: 1rem;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}
