<div class="modal fade" id="modalAgenda" tabindex="-1" aria-labelledby="modalAgendaLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAgendaLabel">
            {{ selectedEvent ? 'Detalhes do Evento' : 'Novo Agendamento' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="selectedEvent; else novoAgendamento">
            <p><strong>Evento:</strong> {{ selectedEvent.title }}</p>
            <p><strong>Data:</strong> {{ selectedEvent.date || selectedEvent.start }}</p>
            <p><strong>Horário:</strong> {{ selectedEvent.start || 'Não especificado' }} - {{ selectedEvent.end || 'Não especificado' }}</p>
          </div>
          <ng-template #novoAgendamento>
            <p>Data Selecionada: {{ selectedDate }}</p>
            <div>
             
                <div class="row">
                  <div class="col-md-2">
                    <label for="id" class="form-label">Cód.</label>
                    <input type="text" class="form-control form-control-sm" id="id" readonly  />
                  </div>
                  <div class="col-md-6">
                    <label for="titulo" class="form-label">Título</label>
                    <input type="text" required class="form-control form-control-sm"  />
                  </div>
                  <div class="col-md-4">
                    <label for="">Status</label>
                    <select  class="form-select form-select-sm">
                      @for (item of listaStatus; track item.id) {
                        <option value="{{item.id}}">{{item.status}}</option>
                      }
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label for="">Paciente</label>
                    <input 
                    type="text" 
                    class="form-control form-control-sm" 
                    placeholder="Digite o nome do paciente..." 
                    [(ngModel)]="searchTerm" 
                    (input)="onSearch()"
                  />
                    <ul  class="list-group mt-2">
                      <li class="list-group-item" *ngFor="let patient of filteredPatients">
                        {{ patient.name }} - {{ patient.cpf }}
                      </li>
                    </ul>
                    
                    <div *ngIf="!filteredPatients.length && searchTerm.length >= 3" class="mt-2">
                      <p>Nenhum paciente encontrado. <button  (click)="openOffcanvas()">Cadastrar paciente</button></p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="">Inicio</label>
                    <input type="datetime" class="form-control form-control-sm">
                  </div>
                  <div class="col-md-3">
                    <label for="">Fim</label>
                    <input type="datetime" class="form-control form-control-sm">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Profissional</label>
                    <select name="" id="" class="form-select form-select-sm">
                      @for (item of listaProfissional; track $index) {
                        <option value="{{item.id}}">{{item.nome}}"></option>
                      }
                    </select>
                  </div>
                <div class="col-md-6">
                  <label>Tipo de Atendimento</label>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Avulso
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Não Avulso
                    </label>
                  </div>
                </div>

                </div>
                <div class="row">
                                  <div class="col-md-4">
                  <label>Pacote</label>
                  <select class="form-select form-select-sm">
                    @for (item of listaPlano; track $index) {
                      <option value="{{item.id}}">{{item.descricao}}</option>
                    }
                  </select>
                </div>
                <div class="col-md-4">
                  <label>Sala</label>
                  <select class="form-select form-select-sm">
                    @for (item of listaSala; track $index) {
                      <option value="{{item.id}}">{{item.nome}}</option>
                    }
                  </select>
                </div>
                <div class="col-md-4">
                  <label>Usuário</label>
                  <select class="form-select form-select-sm">
                    @for (item of listaUsuario; track $index) {
                      <option value="{{item.id}}">{{item.nome}}</option>
                    }
                  </select>
                </div>

                </div>
              <div class="row">
                <div class="col-md-12">
                  <label for="">Obs</label>
                  <textarea name="" id="" class="form-control form-control-sm"></textarea>
                </div>
              </div>
              </div>
            
          </ng-template>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button *ngIf="!selectedEvent" type="button" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasPatient">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Cadastrar Paciente</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" id="name" class="form-control" [(ngModel)]="newPatient.name" name="name" required />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Telefone</label>
        <input type="tel" id="phone" class="form-control" [(ngModel)]="newPatient.phone" name="phone" required />
      </div>
      <div class="mb-3">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" id="cpf" class="form-control" [(ngModel)]="newPatient.cpf" name="cpf" required />
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>