
  <app-label-nome [nomeTela]="'Status'" (adicionarClicked)="openModal('')"></app-label-nome>



  <div class="card mb-3">
    <div class="card-header bg-light d-flex justify-content-between align-items-center" 
         (click)="toggleFiltros()" 
         style="cursor: pointer;">
      <h6 class="mb-0"><i class="bi bi-funnel"></i> Filtros de Pesquisa</h6>
      <button class="btn btn-sm btn-link text-dark p-0">
        <i class="bi" [ngClass]="mostrarFiltros ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
      </button>
    </div>
    <div class="card-body py-3" [ngClass]="{'d-none': !mostrarFiltros}">
  
      <div class="row mt-3">
        <div class="col-md-12 text-end">
          <button type="button" class="btn btn-sm btn-primary me-2" (click)="onSearch()">
            <i class="bi bi-search me-1"></i> Pesquisar
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="limparFiltros()">
            <i class="bi bi-x-circle me-1"></i> Limpar Filtros
          </button>
        </div>
      </div>
  
      <!--COLOCAR ABAIXO OS FILTROS-->
      
  <div class="row mb-3">
    <div class="col-md-3">
      <label for="" class="form-label small fw-bold">Status</label>
      <input
        type="text"
        class="form-control form-control-sm"
        placeholder="Filtrar por Status"
        [(ngModel)]="statusFiltro"
      />
    </div>
  </div>
    </div>
  </div>

  @if (statusList.length > 0) {
    <div class="row mb-2">
      <div class="col-12">
        <!-- Tabela -->
      <div class="table-responsive">
        <table class="table table-striped table-centered mb-3">
          <thead>
            <tr>
              <th>Cód.</th>
              <th>Status</th>
              <th>Cor</th>
              <th>Legenda</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let status of statusList">
              <td>{{ status.id }}</td>
              <td>{{ status.status }}</td>
              <td>
                <input type="color" readonly disabled="true" value="{{ status.cor }}" />
              </td>
              <td>{{ status.legenda }}</td>
              <td class="text-end">
                <a href="javascript:void(0);" (click)="openModal(status)" class="action-icon">
                  <i class="bi bi-pencil text-success"></i>
                </a>
                <a href="javascript:void(0);" (click)="promptDelete(status.id ?? '')" class="action-icon">
                  <i class="bi bi-trash3 text-danger"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
      </div>
    </div>
  } @else {
    <!-- Mensagem de erro -->
    <div *ngIf="statusList.length === 0" class="alert alert-danger">
      Nenhum registro encontrado.
    </div>
  }


    <!-- Paginação Bootstrap -->
    <div class="row justify-content-center">
      <div class="">
        <pagination
          [totalItems]="totalItems"
          [(ngModel)]="currentPage"
          [itemsPerPage]="pageSize"
          (pageChanged)="onPageChange($event.page)"
          previousText="&lsaquo;"
          nextText="&rsaquo;" 
          firstText="&laquo;" 
          lastText="&raquo;">
      </pagination>
      </div>
    
    </div>

<!-- listar.component.html -->
<app-modal-status (statusAtualizado)="atualizarLista()"></app-modal-status>

<app-confirm-dialog
  #confirmDialog
  (onConfirm)="confirmDelete()"
  (onCancel)="cancelDelete()"
></app-confirm-dialog>
