<div class="row">
  <app-label-nome [nomeTela]="'Status'"></app-label-nome>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-sm-5">
            <a
              href="javascript:void(0);"
              (click)="openModal('')"
              class="btn btn-danger mb-2"
              ><i class="bi bi-plus me-2"></i>Status</a
            >
          </div>
          <div class="col-sm-7">
            <div class="text-sm-end">
              <button type="button" class="btn btn-success mb-2 me-1">
                <i class="bi bi-gear"></i>
              </button>
              <button type="button" class="btn btn-light mb-2 me-1">
                Import
              </button>
              <button type="button" class="btn btn-light mb-2">Export</button>
            </div>
          </div>
          <!-- end col-->
        </div>

        <div class="row">
          <div class="col-12">
            <table class="table table-striped table-centered mb-0">
              <thead>
                <tr>
                  <th>Cód.</th>
                  <th>Status</th>
                  <th>Cor</th>
                  <th>Legenda</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @for (status of statusList; track $index) {
                <tr>
                  <td>{{ status.id }}</td>
                  <td>{{ status.status }}</td>
                  <td><input type="color" value="{{ status.cor }}"></td>
                  <td>{{ status.legenda }}</td>
                  <td class="text-end">
                    <a
                      href="javascript: void(0);"
                      (click)="openModal(status)"
                      class="action-icon"
                    >
                      <i class="bi bi-pencil"></i
                    ></a>
                    <a
                      href="javascript: void(0);"
                      class="action-icon"
                    >
                      <i class="bi bi-trash3"></i
                    ></a>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-status></app-modal-status>
