
  <app-label-nome [nomeTela]="'Status'" (adicionarClicked)="openModal('')"></app-label-nome>


  <div class="row mb-3">
    <div class="col-md-3">
      <input
        type="text"
        class="form-control form-control-sm"
        placeholder="Filtrar por Status"
        [(ngModel)]="filterStatus"
      />
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-sm btn-secondary" 
      (click)="onSearch()">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!-- Tabela -->
      <table class="table table-striped table-centered mb-3">
        <thead>
          <tr>
            <th>Cód.</th>
            <th>Status</th>
            <th>Cor</th>
            <th>Legenda</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let status of statusList">
            <td>{{ status.id }}</td>
            <td>{{ status.status }}</td>
            <td>
              <input type="color" readonly disabled="true" value="{{ status.cor }}" />
            </td>
            <td>{{ status.legenda }}</td>
            <td class="text-end">
              <a href="javascript:void(0);" (click)="openModal(status)" class="action-icon">
                <i class="bi bi-pencil text-success"></i>
              </a>
              <a href="javascript:void(0);" (click)="promptDelete(status.id ?? '')" class="action-icon">
                <i class="bi bi-trash3 text-danger"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
  
      <!-- Mensagem de erro -->
      <div *ngIf="statusList.length === 0" class="alert alert-danger">
        Nenhum registro encontrado.
      </div>
  
      <!-- Paginação Bootstrap -->
      <nav aria-label="Paginação">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 0">
            <button class="page-link" (click)="onPageChange(currentPage)" aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
            </button>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(Math?.ceil(totalCount / pageSize)); let i = index"
              [class.active]="i === currentPage">
            <button class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</button>
          </li>
          <li class="page-item" [class.disabled]="currentPage + 1 === Math.ceil(totalCount / pageSize)">
            <button class="page-link" (click)="onPageChange(currentPage + 2)" aria-label="Próximo">
              <span aria-hidden="true">&raquo;</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  

<!-- listar.component.html -->
<app-modal-status (statusAtualizado)="atualizarLista()"></app-modal-status>

<app-confirm-dialog
  #confirmDialog
  (onConfirm)="confirmDelete()"
  (onCancel)="cancelDelete()"
></app-confirm-dialog>
