<!-- Modal de confirmação -->
<div
  class="modal fade"
  id="dialogAtivar"
  tabindex="-1"
  aria-labelledby="dialogAtivarLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dialogAtivarLabel">Confirmação</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="confirm()">
          <span class="bi bi-check"></span> Ativar
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="cancel()"
        >
          <span class="bi bi-x"></span> Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
