<!-- cta.component.html -->
<section class="cta-section py-5" style="background-color: #096042">
  <div class="container">
    <div class="text-center py-5">
      <h2 class="display-6 text-white mb-3">
        Mais que um sistema, a ClinicSmart<br />
        <span class="text-success" style="color: #40bd7e !important"
          >te da tempo de qualidade.</span
        >
        Teste 7 dias grátis.
      </h2>

      <div class="mt-4">
        <a
          routerLink="/cadastro"
          class="btn btn-success btn-lg rounded-pill px-5 py-3"
          style="background-color: #2c9d62; border-color: #2c9d62"
        >
          Comece agora
        </a>
      </div>
    </div>
  </div>
</section>
