<!-- cta.component.html -->
<section class="cta-section py-5" style="background-color: #096042;">
    <div class="container">
      <div class="text-center py-5">
        <h2 class="display-6 text-white mb-3">
          Mais que um sistema, o ClinicSmart<br>
          <span class="text-success" style="color: #40BD7E !important;">cabe no seu sonho.</span> 
          Teste 30 dias grátis.
        </h2>
        
        <div class="mt-4">
          <a href="#" class="btn btn-success btn-lg rounded-pill px-5 py-3" 
             style="background-color: #2c9d62; border-color: #2c9d62;">
            Comece agora
          </a>
        </div>
      </div>
    </div>
  </section>