<!-- Modal -->
<div
  #modalCriarEditar
  class="modal fade"
  id="modalCriarEditar"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="statusModalLabel"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Plano</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="fecharModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario">
          <div class="row">
            <div class="col-md-2">
              <label for="id" class="form-label">Cód.</label>
              <input
                type="text"
                class="form-control form-control-sm"
                readonly
              />
            </div>
            <div class="col-md-4">
              <label for="descricao" class="form-label">Descrição</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="descricao"
                placeholder="Digite a descrição"
                name="descricao"
                formControlName="descricao"
                [ngClass]="{
                  'is-invalid':
                    formulario.get('descricao')?.invalid &&
                    formulario.get('descricao')?.touched
                }"
              />
              <div
                *ngIf="
                  formulario.get('descricao')?.invalid &&
                  formulario.get('descricao')?.touched
                "
                class="invalid-feedback"
              >
                O campo descrição é obrigatório.
              </div>
            </div>

            <div class="col-md-3">
              <label for="diasSemana" class="form-label">Dias</label>
              <input
                type="number"
                class="form-control form-control-sm"
                id="diasSemana"
                name="diasSemana"
                formControlName="diasSemana"
                [ngClass]="{
                  'is-invalid':
                    formulario.get('diasSemana')?.invalid &&
                    formulario.get('diasSemana')?.touched
                }"
              />
              <div
                *ngIf="
                  formulario.get('diasSemana')?.invalid &&
                  formulario.get('diasSemana')?.touched
                "
                class="invalid-feedback"
              >
                A quantidade de dias é obrigatório.
              </div>
            </div>

            <div class="col-md-3">
              <label for="tempoMinutos" class="form-label"
                >Tempo (em minutos)</label
              >
              <input
                type="number"
                class="form-control form-control-sm"
                id="tempoMinutos"
                name="tempoMinutos"
                formControlName="tempoMinutos"
              />
            </div>
          </div>

          <div class="card mb-4 mt-4">
            <div
              class="card-header d-flex align-items-end justify-content-start gap-1"
            >
              <h5 class="mb-0">Valor por período</h5>
              <span style="font-size: 12px"> Adicionar valor mensal</span>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6 col-md-3">
                  <label for="valorMensal" class="form-label">Mensal</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="valorMensal"
                    name="valorMensal"
                    (change)="calculoValorMensal($event)"
                    formControlName="valorMensal"
                    inputmode="numeric"
                    [currencyMask]="{
                      prefix: '',
                      thousands: '.',
                      decimal: ',',
                      precision: 2,
                      allowNegative: false
                    }"
                  />
                </div>
                <div class="col-6 col-md-3">
                  <label for="valorBimestral" class="form-label"
                    >Bimestral
                  </label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="valorBimestral"
                    name="valorBimestral"
                    formControlName="valorBimestral"
                    inputmode="numeric"
                    [currencyMask]="{
                      prefix: '',
                      thousands: '.',
                      decimal: ',',
                      precision: 2,
                      allowNegative: false
                    }"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('valorBimestral')?.invalid &&
                        formulario.get('valorBimestral')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('valorBimestral')?.invalid &&
                      formulario.get('valorBimestral')?.touched
                    "
                    class="invalid-feedback"
                  >
                    O campo valor bimestral é obrigatório.
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <label for="valorTrimestral" class="form-label"
                    >Trimestral
                  </label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="valorTrimestral"
                    name="valorTrimestral"
                    formControlName="valorTrimestral"
                    inputmode="numeric"
                    [currencyMask]="{
                      prefix: '',
                      thousands: '.',
                      decimal: ',',
                      precision: 2,
                      allowNegative: false
                    }"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('valorTrimestral')?.invalid &&
                        formulario.get('valorTrimestral')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('valorTrimestral')?.invalid &&
                      formulario.get('valorTrimestral')?.touched
                    "
                    class="invalid-feedback"
                  >
                    O campo valor trimestral é obrigatório.
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <label for="valorQuadrimestral" class="form-label"
                    >Quadrimestral
                  </label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="valorQuadrimestral"
                    name="valorQuadrimestral"
                    formControlName="valorQuadrimestral"
                    inputmode="numeric"
                    [currencyMask]="{
                      prefix: '',
                      thousands: '.',
                      decimal: ',',
                      precision: 2,
                      allowNegative: false
                    }"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('valorQuadrimestral')?.invalid &&
                        formulario.get('valorQuadrimestral')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('valorQuadrimestral')?.invalid &&
                      formulario.get('valorQuadrimestral')?.touched
                    "
                    class="invalid-feedback"
                  >
                    O campo valor quadrimestral é obrigatório.
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <label for="valorSemestral" class="form-label"
                    >Semestral</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="valorSemestral"
                    name="valorSemestral"
                    formControlName="valorSemestral"
                    inputmode="numeric"
                    [currencyMask]="{
                      prefix: '',
                      thousands: '.',
                      decimal: ',',
                      precision: 2,
                      allowNegative: false
                    }"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('valorSemestral')?.invalid &&
                        formulario.get('valorSemestral')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('valorSemestral')?.invalid &&
                      formulario.get('valorSemestral')?.touched
                    "
                    class="invalid-feedback"
                  >
                    O campo valor semestral é obrigatório.
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <label for="valorAnual" class="form-label">Anual</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="valorAnual"
                    name="valorAnual"
                    formControlName="valorAnual"
                    inputmode="numeric"
                    [currencyMask]="{
                      prefix: '',
                      thousands: '.',
                      decimal: ',',
                      precision: 2,
                      allowNegative: false
                    }"
                    [ngClass]="{
                      'is-invalid':
                        formulario.get('valorAnual')?.invalid &&
                        formulario.get('valorAnual')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      formulario.get('valorAnual')?.invalid &&
                      formulario.get('valorAnual')?.touched
                    "
                    class="invalid-feedback"
                  >
                    O campo valor anual é obrigatório.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <app-button-action
          text="Confirmar"
          loadingText="Carregando..."
          [loading]="isLoading"
          variant="success"
          id="btn_salvar_editar"
          (clicked)="onSubmit()"
          [type]="'button'"
        ></app-button-action>
        <button
          type="button"
          class="btn btn-danger"
          id="btnCancelar"
          data-bs-dismiss="modal"
          (click)="fecharModal()"
          aria-label="Close"
        >
          <i class="bi bi-x"></i>Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
