<!-- Modal -->
<div
  #modalCriarEditar
  class="modal fade"
  id="modalCriarEditar"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="statusModalLabel"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Plano</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal" (click)="fecharModal()" 
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario">
          <div class="row ">
            <div class="col-md-2">
              <label for="id" class="form-label">Cód.</label>
              <input type="text" class="form-control form-control-sm" readonly>
            </div>
            <div class="col-md-4">
              <label for="descricao" class="form-label">Descrição</label>
              <input type="text" class="form-control form-control-sm" id="descricao"
              placeholder="Digite a descrição"  name="descricao" formControlName="descricao"
              [ngClass]="{'is-invalid' : formulario.get('descricao')?.invalid && formulario.get('descricao')?.touched}"
              >
              <div *ngIf="formulario.get('descricao')?.invalid && formulario.get('descricao')?.touched" class="invalid-feedback">
                O campo descrição é obrigatório.
              </div>
            </div>

            <div class="col-md-3">
              <label for="diasSemana" class="form-label">Dias</label>
              <input type="number" class="form-control form-control-sm" id="diasSemana"  name="diasSemana"  formControlName="diasSemana"
              [ngClass]="{'is-invalid' : formulario.get('diasSemana')?.invalid && formulario.get('diasSemana')?.touched}"
              >
              <div *ngIf="formulario.get('diasSemana')?.invalid && formulario.get('diasSemana')?.touched" class="invalid-feedback">
                A quantidade de dias é obrigatório.
              </div>
            </div> 

            <div class="col-md-3">
              <label for="tempoMinutos" class="form-label">Tempo (em minutos)</label>
              <input type="number" class="form-control form-control-sm" id="tempoMinutos"  name="tempoMinutos"  formControlName="tempoMinutos">
            </div>  
          </div>
 
          <div class="card mb-4 mt-4">
            <div class="card-header">
              <h5 class="mb-0">Valor por período</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6 col-md-3">
                  <label for="valorMensal" class="form-label">Mensal <span>(R$){{valorMensalCalculado}}</span></label>
                  <input type="number" class="form-control form-control-sm" id="valorMensal"
                    name="valorMensal" (change)="calculoValorMensal($event)" formControlName="valorMensal">
                </div>
                <div class="col-6 col-md-3">
                  <label for="valorBimestral" class="form-label">Bimestral</label>
                  <input type="number" class="form-control form-control-sm" id="valorBimestral"  name="valorBimestral" 
                  formControlName="valorBimestral"
                  [ngClass]="{'is-invalid' : formulario.get('valorBimestral')?.invalid && formulario.get('valorBimestral')?.touched}"
                  >
                  <div *ngIf="formulario.get('valorBimestral')?.invalid && formulario.get('valorBimestral')?.touched" class="invalid-feedback">
                    O campo valor bimestral é obrigatório.
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <label for="valorTrimestral" class="form-label">Trimestral</label>
                  <input type="number" class="form-control form-control-sm" id="valorTrimestral"  name="valorTrimestral"
                   formControlName="valorTrimestral"
                   [ngClass]="{'is-invalid' : formulario.get('valorTrimestral')?.invalid && formulario.get('valorTrimestral')?.touched}"
                   >
                   <div *ngIf="formulario.get('valorTrimestral')?.invalid && formulario.get('valorTrimestral')?.touched" class="invalid-feedback">
                     O campo valor trimestral é obrigatório.
                   </div>
                </div>
                <div class="col-6 col-md-3">
                  <label for="valorQuadrimestral" class="form-label">Quadrimestral</label>
                  <input type="number" class="form-control form-control-sm" id="valorQuadrimestral"  name="valorQuadrimestral" formControlName="valorQuadrimestral"
                  [ngClass]="{'is-invalid' : formulario.get('valorQuadrimestral')?.invalid && formulario.get('valorQuadrimestral')?.touched}"
                  >
                  <div *ngIf="formulario.get('valorQuadrimestral')?.invalid && formulario.get('valorQuadrimestral')?.touched" class="invalid-feedback">
                    O campo valor quadrimestral é obrigatório.
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <label for="valorSemestral" class="form-label">Semestral</label>
                  <input type="number" class="form-control form-control-sm" id="valorSemestral"  name="valorSemestral" formControlName="valorSemestral"
                  [ngClass]="{'is-invalid' : formulario.get('valorSemestral')?.invalid && formulario.get('valorSemestral')?.touched}"
                  >
                  <div *ngIf="formulario.get('valorSemestral')?.invalid && formulario.get('valorSemestral')?.touched" class="invalid-feedback">
                    O campo valor semestral é obrigatório.
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <label for="valorAnual" class="form-label">Anual</label>
                  <input type="number" class="form-control form-control-sm" id="valorAnual"  name="valorAnual" formControlName="valorAnual"
                  [ngClass]="{'is-invalid' : formulario.get('valorAnual')?.invalid && formulario.get('valorAnual')?.touched}"
                  >
                  <div *ngIf="formulario.get('valorAnual')?.invalid && formulario.get('valorAnual')?.touched" class="invalid-feedback">
                    O campo valor anual é obrigatório.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Valores dos Planos -->
          <!-- <h6 class="mt-4">Valores por Período</h6>
          <div class="row">
            <div class="col-6 col-md-3">
              <label for="valorMensal" class="form-label">Mensal <span>(R$){{valorMensalCalculado}}</span></label>
              <input type="number" class="form-control form-control-sm" id="valorMensal"
                name="valorMensal" (change)="calculoValorMensal($event)" formControlName="valorMensal">
            </div>
            <div class="col-6 col-md-3">
              <label for="valorBimestral" class="form-label">Bimestral</label>
              <input type="number" class="form-control form-control-sm" id="valorBimestral"  name="valorBimestral" 
              formControlName="valorBimestral"
              [ngClass]="{'is-invalid' : formulario.get('valorBimestral')?.invalid && formulario.get('valorBimestral')?.touched}"
              >
              <div *ngIf="formulario.get('valorBimestral')?.invalid && formulario.get('valorBimestral')?.touched" class="invalid-feedback">
                O campo valor bimestral é obrigatório.
              </div>
            </div>
            <div class="col-6 col-md-3">
              <label for="valorTrimestral" class="form-label">Trimestral</label>
              <input type="number" class="form-control form-control-sm" id="valorTrimestral"  name="valorTrimestral"
               formControlName="valorTrimestral"
               [ngClass]="{'is-invalid' : formulario.get('valorTrimestral')?.invalid && formulario.get('valorTrimestral')?.touched}"
               >
               <div *ngIf="formulario.get('valorTrimestral')?.invalid && formulario.get('valorTrimestral')?.touched" class="invalid-feedback">
                 O campo valor trimestral é obrigatório.
               </div>
            </div>
            <div class="col-6 col-md-3">
              <label for="valorQuadrimestral" class="form-label">Quadrimestral</label>
              <input type="number" class="form-control form-control-sm" id="valorQuadrimestral"  name="valorQuadrimestral" formControlName="valorQuadrimestral"
              [ngClass]="{'is-invalid' : formulario.get('valorQuadrimestral')?.invalid && formulario.get('valorQuadrimestral')?.touched}"
              >
              <div *ngIf="formulario.get('valorQuadrimestral')?.invalid && formulario.get('valorQuadrimestral')?.touched" class="invalid-feedback">
                O campo valor quadrimestral é obrigatório.
              </div>
            </div>
            <div class="col-6 col-md-3">
              <label for="valorSemestral" class="form-label">Semestral</label>
              <input type="number" class="form-control form-control-sm" id="valorSemestral"  name="valorSemestral" formControlName="valorSemestral"
              [ngClass]="{'is-invalid' : formulario.get('valorSemestral')?.invalid && formulario.get('valorSemestral')?.touched}"
              >
              <div *ngIf="formulario.get('valorSemestral')?.invalid && formulario.get('valorSemestral')?.touched" class="invalid-feedback">
                O campo valor semestral é obrigatório.
              </div>
            </div>
            <div class="col-6 col-md-3">
              <label for="valorAnual" class="form-label">Anual</label>
              <input type="number" class="form-control form-control-sm" id="valorAnual"  name="valorAnual" formControlName="valorAnual"
              [ngClass]="{'is-invalid' : formulario.get('valorAnual')?.invalid && formulario.get('valorAnual')?.touched}"
              >
              <div *ngIf="formulario.get('valorAnual')?.invalid && formulario.get('valorAnual')?.touched" class="invalid-feedback">
                O campo valor anual é obrigatório.
              </div>
            </div>
          </div> -->
          
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="onSubmit()"
          class="btn btn-success"
          id="btn_salvar_editar"
        >
          <i class="bi bi-check"></i> Confirmar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          id="btnCancelar"
          data-bs-dismiss="modal" (click)="fecharModal()" 
          aria-label="Close"
          
        >
          <i class="bi bi-x"></i>Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
