<app-label-nome
  [nomeTela]="'Contas a Receber - Analítico'"
  (adicionarClicked)="openModal('')"
></app-label-nome>

<div class="card mb-3">
  <div
    class="card-header bg-light d-flex justify-content-between align-items-center"
    (click)="toggleFiltros()"
    style="cursor: pointer"
  >
    <h6 class="mb-0"><i class="bi bi-funnel"></i> Filtros de Pesquisa</h6>
    <button class="btn btn-sm btn-link text-dark p-0">
      <i
        class="bi"
        [ngClass]="mostrarFiltros ? 'bi-chevron-up' : 'bi-chevron-down'"
      ></i>
    </button>
  </div>
  <div class="card-body py-3" [ngClass]="{ 'd-none': !mostrarFiltros }">
    <div class="row mt-3">
      <div class="col-md-12 text-end">
        <button
          type="button"
          class="btn btn-sm btn-primary me-2"
          (click)="onSearch()"
        >
          <i class="bi bi-search me-1"></i> Pesquisar
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="limparFiltros()"
        >
          <i class="bi bi-x-circle me-1"></i> Limpar Filtros
        </button>
      </div>
    </div>

    <div class="row g-3 align-items-end">
      <div class="col-md-2 col-12">
        <label for="idPaiFiltro" class="form-label small fw-bold">Código</label>
        <input
          type="number"
          id="idPaiFiltro"
          class="form-control form-control-sm"
          [(ngModel)]="idFiltro"
        />
      </div>

      <div class="col-md-2 col-12">
        <label for="" class="form-label small fw-bold">Paciente</label>
        <select
          name=""
          id=""
          class="form-select form-select-sm"
          [(ngModel)]="pacienteIdFiltro"
        >
          <option value="">Selecione o Paciente</option>
          @for (item of pacienteLista; track item.id) {
          <option value="{{ item.id }}">{{ item.nome }}</option>
          }
        </select>
      </div>

      <div class="col-md-3">
        <label class="form-label small fw-bold">Período</label>
        <select class="form-select form-select-sm" [(ngModel)]="dataBaseFiltro">
          <option value="E">Data de Emissão</option>
          <!-- <option value="V">Data de Vencimento</option>
          <option value="P">Data de Pagamento</option> -->
        </select>
      </div>

      <div class="col-md-5">
        <div class="row">
          <div class="col-md-5">
            <div class="input-group input-group-sm">
              <span class="input-group-text">De</span>
              <input
                type="date"
                class="form-control form-control-sm"
                [(ngModel)]="dataFiltroInicio"
              />
            </div>
          </div>
          <div class="col-md-5">
            <div class="input-group input-group-sm">
              <span class="input-group-text">Até</span>
              <input
                type="date"
                class="form-control form-control-sm"
                [(ngModel)]="dataFiltroFim"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12">
    @if (lista.length > 0) {
    <div class="table-responsive">
      <table class="table table-striped table-centered mb-0">
        <thead>
          <tr>
            <th></th>
            <th>Cód.</th>
            <th>Data Emissão</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th></th>
            <th class="text-end"></th>
          </tr>
        </thead>
        <tbody>
          @for (item of lista; track item.id) {
          <!-- Main row -->
          <tr>
            <td>
              <button
                class="btn btn-sm btn-link"
                (click)="toggleRow(item.id!)"
                *ngIf="item.subFinancReceber"
              >
                <i
                  class="bi"
                  [ngClass]="{
                    'bi-chevron-down': isExpanded(item.id!),
                    'bi-chevron-right': !isExpanded(item.id!)
                  }"
                ></i>
              </button>
            </td>
            <td>{{ item.id }}</td>
            <td>{{ item.dataEmissao | datePtBr }}</td>
            <td>{{ item.descricao }}</td>
            <td>{{ item.valor | currencyPtBr }}</td>
            <td></td>
            <td class="text-end">
              <a
                href="javascript:void(0);"
                (click)="openModal(item)"
                class="action-icon btn-tooltip"
              >
                <i class="bi bi-pencil text-warning"></i>
                <span class="tooltip-text">Edição rapida</span>
              </a>
              <a
                href="javascript:void(0);"
                (click)="promptDelete(item)"
                class="action-icon btn-tooltip"
              >
                <i class="bi bi-trash3 text-danger"></i>
                <span class="tooltip-text">Excluir</span>
              </a>
            </td>
          </tr>

          <!-- Expanded section for child items with its own header -->
          @if (isExpanded(item.id!) && item.subFinancReceber) {
          <!-- Subtable header -->
          <tr class="table-primary">
            <td></td>
            <td><strong>Código</strong></td>
            <td><strong>Data Vencimento</strong></td>
            <td><strong>Detalhes</strong></td>
            <td><strong>Valor Parcela</strong></td>
            <td><strong>Status</strong></td>
            <td><strong></strong></td>
          </tr>

          <!-- Subtable rows -->
          @for (subItem of item.subFinancReceber; track subItem.id) {
          <tr class="table-light">
            <td></td>
            <td>
              <small>{{ subItem.id }}</small>
            </td>
            <td>
              <small>{{ subItem.dataVencimento | datePtBr }}</small>
            </td>
            <td>
              <strong>{{
                "Parcela n° " + subItem.parcela + "  " + subItem.observacao
              }}</strong>
            </td>
            <td>
              <strong>{{ subItem.valor | currencyPtBr }}</strong>
            </td>
            <td>
              @if (subItem.dataPagamento) {
              <span class="span-status-green">Pago</span>
              } @else if (isOverdue(subItem.dataVencimento)) {
              <span class="span-status-red">Vencido</span>
              } @else {
              <span class="span-status-orange">A Vencer</span>
              }
            </td>
            <td class="text-end">
              <a
                href="javascript:void(0);"
                (click)="openModalBaixa(subItem)"
                class="action-icon btn-tooltip"
              >
                <i class="bi bi-cash-stack text-warning"></i>
                <span class="tooltip-text">Baixar parcela</span>
              </a>
            </td>
          </tr>
          } } }
        </tbody>
      </table>
    </div>
    } @else {
    <div class="alert alert-danger" role="alert">
      Nenhum registro encontrado
    </div>
    <img src="public\image\semRegistro.svg" alt="" />
    }
  </div>
</div>

<!-- Paginação Bootstrap -->
<div class="row justify-content-center">
  <div class="">
    <pagination
      [totalItems]="totalItems"
      [(ngModel)]="currentPage"
      [itemsPerPage]="pageSize"
      (pageChanged)="onPageChange($event.page)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>

<!-- listar.component.html -->
<app-modal-financ-receber
  (dadosAtualizado)="atualizarLista()"
></app-modal-financ-receber>

<app-baixa-financ-receber-sub
  [financReceberSub]="parcelaSelecionada"
  (confirmarPagamento)="atualizarLista()"
></app-baixa-financ-receber-sub>

<app-confirm-dialog
  #confirmDialog
  (onConfirm)="confirmDelete()"
  (onCancel)="cancelDelete()"
></app-confirm-dialog>
