<!-- Modal -->
<div
  #modalEditarCriar
  class="modal fade"
  id="modalEditarCriar"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="statusModalLabel"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Exercício</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="fecharModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario">
          <div class="row g-3">
            <div class="col-md-2">
              <label for="Id" class="form-label">Cód.</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="Id"
                readonly
                formControlName="id"
              />
            </div>
            <div class="col-md-4">
              <label for="descricao" class="form-label">Descrição</label>
              <input
                type="text"
                required
                class="form-control form-control-sm required"
                formControlName="descricao"
                [ngClass]="{
                  'is-invalid':
                    formulario.get('descricao')?.invalid &&
                    formulario.get('descricao')?.touched
                }"
              />
              <div
                *ngIf="
                  formulario.get('descricao')?.invalid &&
                  formulario.get('descricao')?.touched
                "
                class="invalid-feedback"
              >
                O campo Descrição é obrigatório.
              </div>
            </div>
            <div class="col-md-2">
              <label for="capacidade" class="form-label">tempo (min.)</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="tempo"
              />
            </div>
            <div class="col-md-2">
              <label for="capacidade" class="form-label">Repetições</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="repeticoes"
              />
            </div>
            <div class="col-md-2">
              <label for="capacidade" class="form-label">Séries</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="series"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <app-button-action
          text="Confirmar"
          loadingText="Carregando..."
          [loading]="isLoading"
          variant="success"
          id="btn_salvar_editar"
          (clicked)="onSubmit()"
          [type]="'button'"
        ></app-button-action>
        <button
          type="button"
          class="btn btn-danger"
          id="btnCancelar"
          data-bs-dismiss="modal"
          (click)="fecharModal()"
          aria-label="Close"
        >
          <i class="bi bi-x"></i>Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
