<div [formGroup]="formulario">
  <div class="card mb-3">
    <div class="card-header">Informações Pessoais</div>
    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-2">
          <label for="id" class="form-label">Cód.</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="Id"
            readonly
            formControlName="id"
          />
        </div>
        <div class="col-md-2">
          <label for="tipo" class="form-label">Tipo</label>
          <select
            class="form-select form-select-sm"
            formControlName="tipo"
            (change)="onTipoChangeInterno()"
          >
            <option value="J">Jurídica</option>
            <option value="F">Física</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="cnpj" class="form-label">CNPJ</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="cnpj"
            mask="00.000.000/0000-00"
            [ngClass]="{
              'is-invalid':
                formulario.get('cnpj')?.invalid &&
                formulario.get('cnpj')?.touched
            }"
          />
          <div
            *ngIf="
              formulario.get('cnpj')?.invalid && formulario.get('cnpj')?.touched
            "
            class="invalid-feedback"
          >
            O campo CNPJ é obrigatório.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="razao" class="form-label">Razão Social</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="razao"
            [ngClass]="{
              'is-invalid':
                formulario.get('razao')?.invalid &&
                formulario.get('razao')?.touched
            }"
          />
          <div
            *ngIf="
              formulario.get('razao')?.invalid && formulario.get('razao')?.touched
            "
            class="invalid-feedback"
          >
            O campo razão é obrigatório.
          </div>
        </div>
        <div class="col-md-6">
          <label for="fantasia" class="form-label">Nome Fantasia</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="fantasia"
            [ngClass]="{
              'is-invalid':
                formulario.get('fantasia')?.invalid &&
                formulario.get('fantasia')?.touched
            }"
          />
          <div
            *ngIf="
              formulario.get('fantasia')?.invalid && formulario.get('fantasia')?.touched
            "
            class="invalid-feedback"
          >
            O campo fantasia é obrigatório.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
